In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
data=pd.read_csv(r'C:/Users/gheml/Documents/Behaviour Scorecard Python/training_dataset.csv')
data

,Cust_id,Age,Income_group,Existing_Customer,Occupation_type,Education_Qualification,Dependents,Marital_Status,Gender,Debt_Burden_Ratio,...,Employed_since_yrs,Location,DPD_30_6M,DPD_60_6M,Months_on_book,Default_Flag,Occupation_Partner,Job_Seniority,Assets,Savings
0,14898,52,<=100000,0,Private,1,1,Single,M,< = 0.10,...,14,North,0,0,> = 6,0,freelance,20,10000,1.600000
1,34986,34,> 100000,0,Govt,1,1,Married,F,< = 0.10,...,11,Central,0,0,> = 6,0,freelance,5,1,7.662857
2,74167,37,<=100000,0,Govt,2,0,Single,M,< = 0.10,...,10,North,0,0,< 6,0,fixed,1,7700,6.624000
3,80278,43,< = 50000,0,Private,4,0,Single,M,< = 0.50,...,6,South,1,1,< 6,1,fixed,2,55,8.307692
4,2442,35,< = 50000,0,Private,3,1,Married,F,< = 0.10,...,8,South,0,0,> = 6,0,partime,0,0,0.675000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18262,35788,40,<=100000,0,Private,3,1,Single,M,< = 0.10,...,7,Central,0,0,> = 6,0,freelance,3,6000,2.589474
18263,85264,42,< = 50000,0,Govt,1,2,Married,F,< = 0.10,...,6,South,0,0,> = 6,0,fixed,14,4000,2.742857
18264,1481,43,<=100000,0,Private,1,0,Single,F,< = 0.50,...,7,North,1,1,< 6,1,freelance,0,10000,7.140000
18265,25731,37,< = 50000,0,Govt,4,1,Single,M,< = 0.50,...,9,Central,0,0,> = 6,0,fixed,2,2000,1.158621
18266,94945,39,<=100000,0,Private,2,2,Married,F,< = 0.10,...,7,Central,0,0,< 6,0,fixed,3,14000,2.145455

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18267 entries, 0 to 18266
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Cust_id                   18267 non-null  int64
 1   Age                       18267 non-null  int64
 2   Income_group              18267 non-null  object
 3   Existing_Customer         18267 non-null  int64
 4   Occupation_type           18267 non-null  object
 5   Education_Qualification   18267 non-null  int64
 6   Dependents                18267 non-null  int64
 7   Marital_Status            18267 non-null  object
 8   Gender                    18267 non-null  object
 9   Debt_Burden_Ratio         18267 non-null  object
 10  Years_at_current_address  18267 non-null  int64
 11  Credit_Amount             18267 non-null  int64
 12  Housing_1_Own_2_Rent      18267 non-null  int64
 13  Employed_since_yrs        18267 non-null  int64
 14  Location                  18267 non-null  object
 15  DPD_30_6M                 18267 non-null  object
 16  DPD_60_6M                 18267 non-null  object
 17  Months_on_book            18267 non-null  object
 18  Default_Flag              18267 non-null  int64
 19  Occupation_Partner        18267 non-null  object
 20  Job_Seniority             18267 non-null  int64
 21  Assets                    18267 non-null  int64
 22  Savings                   18267 non-null  float64
dtypes: float64(1), int64(12), object(10)
memory usage: 3.2+ MB

In [5]:
data.describe() 
# this shows statistics of numerical fields only  ,#
#and if use describe(include='all') then it will show top values,#
#frequency of top values , unique values of Categorical variables#

,Cust_id,Age,Existing_Customer,Education_Qualification,Dependents,Years_at_current_address,Credit_Amount,Housing_1_Own_2_Rent,Employed_since_yrs,Default_Flag,Job_Seniority,Assets,Savings
count,18267.00000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000
mean,49866.81847,40.719823,0.027755,2.497400,0.821098,8.696338,176105.240105,1.533311,10.260196,0.155745,5.226255,3991.752121,3.009446
std,28915.87710,7.824026,0.164274,1.115292,0.675604,4.315100,72030.759217,0.498903,4.885855,0.362624,6.687622,9498.744279,3.432628
min,3.00000,22.000000,0.000000,1.000000,0.000000,0.000000,50001.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-7.248000
25%,24753.00000,36.000000,0.000000,2.000000,0.000000,6.000000,113803.000000,1.000000,7.000000,0.000000,1.000000,0.000000,0.960000
50%,50057.00000,42.000000,0.000000,2.000000,1.000000,9.000000,176472.000000,2.000000,9.000000,0.000000,2.000000,1000.000000,2.357143
75%,74816.50000,45.000000,0.000000,3.000000,1.000000,12.000000,238418.000000,2.000000,14.000000,0.000000,7.000000,5000.000000,4.235294
max,99994.00000,55.000000,1.000000,4.000000,3.000000,15.000000,299990.000000,2.000000,20.000000,1.000000,48.000000,250000.000000,30.600000

In [6]:
print(data.isnull().sum()) # shows how many null value each column has #

Cust_id                     0
Age                         0
Income_group                0
Existing_Customer           0
Occupation_type             0
Education_Qualification     0
Dependents                  0
Marital_Status              0
Gender                      0
Debt_Burden_Ratio           0
Years_at_current_address    0
Credit_Amount               0
Housing_1_Own_2_Rent        0
Employed_since_yrs          0
Location                    0
DPD_30_6M                   0
DPD_60_6M                   0
Months_on_book              0
Default_Flag                0
Occupation_Partner          0
Job_Seniority               0
Assets                      0
Savings                     0
dtype: int64

In [7]:
print(data['Default_Flag'].value_counts(normalize=True)*100) # Target variable : 0 is non default , 1 is default #

Default_Flag
0    84.425467
1    15.574533
Name: proportion, dtype: float64

In [8]:
categorical_vars=data.select_dtypes(include=['object']).columns # it selects text-base i.e, categorical columns only #
for col in categorical_vars:
    print(f"\nVariable: {col}")
    print(data[col].value_counts(normalize=True)*100)

Variable: Income_group
Income_group
<=100000     39.448185
> 100000     30.191055
< = 50000    13.012536
< = 35000     7.527235
< = 25000     6.574698
< = 15000     3.246291
Name: proportion, dtype: float64

Variable: Occupation_type
Occupation_type
Private          57.612087
Govt             36.634368
Self-Employed     5.288225
Self-employed     0.443423
Unemployed        0.021897
Name: proportion, dtype: float64

Variable: Marital_Status
Marital_Status
Married      51.858543
Single       48.048393
Seperated     0.093064
Name: proportion, dtype: float64

Variable: Gender
Gender
F    50.588493
M    49.411507
Name: proportion, dtype: float64

Variable: Debt_Burden_Ratio
Debt_Burden_Ratio
< = 0.10    59.172278
< = 0.50    24.579843
> 0.50      16.247879
Name: proportion, dtype: float64

Variable: Location
Location
North      35.024908
South      32.840642
Central    32.134450
Name: proportion, dtype: float64

Variable: DPD_30_6M
DPD_30_6M
0    70.953085
1    28.723928
2     0.218974
.     0.104013
Name: proportion, dtype: float64

Variable: DPD_60_6M
DPD_60_6M
0    75.880002
1    23.775114
2     0.240872
.     0.104013
Name: proportion, dtype: float64

Variable: Months_on_book
Months_on_book
< 6      52.137735
> = 6    47.451689
< 6       0.410576
Name: proportion, dtype: float64

Variable: Occupation_Partner
Occupation_Partner
fixed        49.362238
freelance    25.444791
partime      19.696721
others        5.496250
Name: proportion, dtype: float64

In [9]:
# check how many "." dot values are there in each column 
#and this "." could be present becoz missing values were not recorded properly otheriwse it would have occured 
#when we checked for null values in each column

for col in data.columns:
    dot_count=(data[col]==".").sum()
    if dot_count>0:
         print(f"column: {col} --> {dot_count} occurance of '.' ")

column: DPD_30_6M --> 19 occurance of '.'
column: DPD_60_6M --> 19 occurance of '.'

In [10]:
for col in data.columns:
    if (data[col]==".").any(): #.any(): Python checks the whole list. If there is even one single True in the entire column, the whole expression becomes True
             print(f"nUnique values in {col}:")
             print(data[col].value_counts(dropna=False))

nUnique values in DPD_30_6M:
DPD_30_6M
0    12961
1     5247
2       40
.       19
Name: count, dtype: int64
nUnique values in DPD_60_6M:
DPD_60_6M
0    13861
1     4343
2       44
.       19
Name: count, dtype: int64

In [11]:
data.replace(".",np.nan,inplace=True) # replace all occurance of "." with nan

In [12]:
missing_summary=data.isnull().sum()
print(missing_summary)

Cust_id                      0
Age                          0
Income_group                 0
Existing_Customer            0
Occupation_type              0
Education_Qualification      0
Dependents                   0
Marital_Status               0
Gender                       0
Debt_Burden_Ratio            0
Years_at_current_address     0
Credit_Amount                0
Housing_1_Own_2_Rent         0
Employed_since_yrs           0
Location                     0
DPD_30_6M                   19
DPD_60_6M                   19
Months_on_book               0
Default_Flag                 0
Occupation_Partner           0
Job_Seniority                0
Assets                       0
Savings                      0
dtype: int64

In [13]:
df_clean=data.dropna()

In [14]:
print("Any '.' left?",(df_clean==".").any().any())
print("Any Nan left?", df_clean.isnull().any().any())

Any '.' left? False
Any Nan left? False

In [15]:
df_clean

,Cust_id,Age,Income_group,Existing_Customer,Occupation_type,Education_Qualification,Dependents,Marital_Status,Gender,Debt_Burden_Ratio,...,Employed_since_yrs,Location,DPD_30_6M,DPD_60_6M,Months_on_book,Default_Flag,Occupation_Partner,Job_Seniority,Assets,Savings
0,14898,52,<=100000,0,Private,1,1,Single,M,< = 0.10,...,14,North,0,0,> = 6,0,freelance,20,10000,1.600000
1,34986,34,> 100000,0,Govt,1,1,Married,F,< = 0.10,...,11,Central,0,0,> = 6,0,freelance,5,1,7.662857
2,74167,37,<=100000,0,Govt,2,0,Single,M,< = 0.10,...,10,North,0,0,< 6,0,fixed,1,7700,6.624000
3,80278,43,< = 50000,0,Private,4,0,Single,M,< = 0.50,...,6,South,1,1,< 6,1,fixed,2,55,8.307692
4,2442,35,< = 50000,0,Private,3,1,Married,F,< = 0.10,...,8,South,0,0,> = 6,0,partime,0,0,0.675000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18262,35788,40,<=100000,0,Private,3,1,Single,M,< = 0.10,...,7,Central,0,0,> = 6,0,freelance,3,6000,2.589474
18263,85264,42,< = 50000,0,Govt,1,2,Married,F,< = 0.10,...,6,South,0,0,> = 6,0,fixed,14,4000,2.742857
18264,1481,43,<=100000,0,Private,1,0,Single,F,< = 0.50,...,7,North,1,1,< 6,1,freelance,0,10000,7.140000
18265,25731,37,< = 50000,0,Govt,4,1,Single,M,< = 0.50,...,9,Central,0,0,> = 6,0,fixed,2,2000,1.158621
18266,94945,39,<=100000,0,Private,2,2,Married,F,< = 0.10,...,7,Central,0,0,< 6,0,fixed,3,14000,2.145455

In [16]:
EPS=1e-6 #EPS stands for Epsilon. It is a tiny number (0.000001) .
#We add this EPS to our calculations later to avoid Division by Zero or log(0) errors, which would crash the code if a bin has zero Bads or zero Goods.

def compute_woe_iv_all(df,target='Default_Flag',bins=10,print_all=True):
    y=df[target].astype(int)
    results={}
    iv_rows={}
    
    for col in df.columns:
        if col==target:
            continue
        
        x=df[col]
        
        if pd.api.types.is_numeric_dtype(x) and x.nunique()>bins:
            try:
                binned_x=pd.qcut(x,q=bins,duplicates='drop')
            except Exception:
                binned_x=x.astype(str)
                
        else:
            binned_x=x.astype(str)
            
            
        d=pd.DataFrame({'Bin':binned_x,'Y':y})
        g=d.groupby('Bin')['Y']
        total=g.size()
        events=g.sum()
        non_events=total-events
        
        if events.sum()==0 or non_events.sum()==0:
            print(f"Skipping {col}: no events or non-events across its group.")
            continue
            
        woe_df=pd.DataFrame({
            'Total':total,
            'Events':events,
            'Non_Events':non_events
        })   
        
        woe_df['Dist_Event']=woe_df['Events']/woe_df['Events'].sum() # Dist_Event means Distribution of Events (i.e Defaults)
        woe_df['Dist_NonEvent']=woe_df['Non_Events']/woe_df['Non_Events'].sum()
        woe_df['WOE']=np.log((woe_df['Dist_NonEvent']+EPS)/(woe_df['Dist_Event']+EPS))
        woe_df['IV']=(woe_df['Dist_NonEvent']-woe_df['Dist_Event'])*woe_df['WOE']
        
        iv_total=woe_df['IV'].sum()
        
        results[col]=woe_df.reset_index().rename(columns={'Bin':col})
        iv_rows[col]=iv_total
        
        if print_all:
            print(f"/n===== {col} ===== ")
            print(results[col])
            print(f"Total IV for  {col} : {iv_total:.4f}")
            
            


#IV summary #
    iv_summary=pd.DataFrame(list(iv_rows.items()),columns=['Variable','IV']).sort_values('IV',ascending=False)
    def interpret(iv):
        if iv<0.02:return 'Not Predictive'
        if iv<0.10:return 'Weak'
        if iv<0.30:return 'Medium'
        if iv<0.50:return 'Strong'
        return 'Suspicious'
    
    iv_summary['Interpretation']=iv_summary['IV'].apply(interpret)
    
    print(iv_summary)
               
    return results,iv_summary
      

woe_tables, iv_summary = compute_woe_iv_all(df_clean, target='Default_Flag', bins=10, print_all=True)

C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']

/n===== Cust_id =====
              Cust_id  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0     (2.999, 9980.5]   1825     268        1557    0.094300       0.101065
1   (9980.5, 19805.2]   1825     255        1570    0.089726       0.101908
2  (19805.2, 29716.3]   1825     280        1545    0.098522       0.100286
3  (29716.3, 39652.4]   1824     287        1537    0.100985       0.099766
4  (39652.4, 50064.5]   1825     270        1555    0.095004       0.100935
5  (50064.5, 59763.4]   1825     285        1540    0.100281       0.099961
6  (59763.4, 69813.9]   1824     299        1525    0.105208       0.098987
7  (69813.9, 79888.0]   1825     303        1522    0.106615       0.098793
8  (79888.0, 90226.0]   1825     295        1530    0.103800       0.099312
9  (90226.0, 99994.0]   1825     300        1525    0.105559       0.098987

        WOE        IV
0  0.069279  0.000469
1  0.127317  0.001551
2  0.017740  0.000031
3 -0.012143  0.000015
4  0.060559  0.000359
5 -0.003200  0.000001
6 -0.060942  0.000379
7 -0.076201  0.000596
8 -0.044201  0.000198
9 -0.064281  0.000422
Total IV for  Cust_id : 0.0040
/n===== Age =====
              Age  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0  (21.999, 30.0]   2027     509        1518    0.179099       0.098533
1    (30.0, 34.0]   1810     357        1453    0.125616       0.094314
2    (34.0, 37.0]   2164     466        1698    0.163969       0.110217
3    (37.0, 39.0]   1441     274        1167    0.096411       0.075750
4    (39.0, 42.0]   2717     415        2302    0.146024       0.149422
5    (42.0, 43.0]   1151     193         958    0.067910       0.062184
6    (43.0, 45.0]   2394     312        2082    0.109782       0.135142
7    (45.0, 47.0]    972      77         895    0.027094       0.058094
8    (47.0, 51.0]   1817     132        1685    0.046446       0.109373
9    (51.0, 55.0]   1755     107        1648    0.037650       0.106971

        WOE        IV
0 -0.597544  0.048142
1 -0.286596  0.008971
2 -0.397225  0.021352
3 -0.241183  0.004983
4  0.023006  0.000078
5 -0.088090  0.000504
6  0.207830  0.005271
7  0.762750  0.023646
8  0.856458  0.053894
9  1.044223  0.072387
Total IV for  Age : 0.2392
/n===== Income_group =====
  Income_group  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0    < = 15000    593     161         432    0.056650       0.028041
1    < = 25000   1201     278         923    0.097818       0.059912
2    < = 35000   1373     298        1075    0.104856       0.069778
3    < = 50000   2374     479        1895    0.168543       0.123004
4     <=100000   7203    1244        5959    0.437720       0.386797
5     > 100000   5504     382        5122    0.134412       0.332468

        WOE        IV
0 -0.703210  0.020118
1 -0.490234  0.018583
2 -0.407262  0.014286
3 -0.314973  0.014344
4 -0.123678  0.006298
5  0.905626  0.179364
Total IV for  Income_group : 0.2530
/n===== Existing_Customer =====
  Existing_Customer  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0                 0  17743    2822       14921    0.992963       0.968519
1                 1    505      20         485    0.007037       0.031481

        WOE        IV
0 -0.024925  0.000609
1  1.498057  0.036618
Total IV for  Existing_Customer : 0.0372
/n===== Occupation_type =====
  Occupation_type  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0            Govt   6682    1434        5248    0.504574       0.340647
1         Private  10515     950        9565    0.334272       0.620862
2   Self-Employed    966     377         589    0.132653       0.038232
3   Self-employed     81      81           0    0.028501       0.000000
4      Unemployed      4       0           4    0.000000       0.000260

         WOE        IV
0  -0.392869  0.064402
1   0.619154  0.177443
2  -1.244049  0.117465
3 -10.257731  0.292356
4   5.563137  0.001444
Total IV for  Occupation_type : 0.6531
/n===== Education_Qualification =====
  Education_Qualification  Total  Events  Non_Events  Dist_Event  \
0                       1   4535     656        3879    0.230823
1                       2   4638     741        3897    0.260732
2                       3   4540     730        3810    0.256861
3                       4   4535     715        3820    0.251583

   Dist_NonEvent       WOE        IV
0       0.251785  0.086923  0.001822
1       0.252953 -0.030287  0.000236
2       0.247306 -0.037909  0.000362
3       0.247955 -0.014526  0.000053
Total IV for  Education_Qualification : 0.0025
/n===== Dependents =====
  Dependents  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0          0   6074    1268        4806    0.446165       0.311956 -0.357824
1          1   9371    1216        8155    0.427868       0.529339  0.212815
2          2   2792     347        2445    0.122097       0.158704  0.262225
3          3     11      11           0    0.003871       0.000000 -8.261401

         IV
0  0.048023
1  0.021595
2  0.009599
3  0.031976
Total IV for  Dependents : 0.1112
/n===== Marital_Status =====
  Marital_Status  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0        Married   9469    1209        8260    0.425405       0.536155
1      Seperated     17      16           1    0.005630       0.000065
2         Single   8762    1617        7145    0.568966       0.463780

        WOE        IV
0  0.231382  0.025626
1 -4.447727  0.024751
2 -0.204408  0.021501
Total IV for  Marital_Status : 0.0719
/n===== Gender =====
  Gender  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0      F   9231    1286        7945    0.452498       0.515708  0.130757
1      M   9017    1556        7461    0.547502       0.484292 -0.122678

         IV
0  0.008265
1  0.007754
Total IV for  Gender : 0.0160
/n===== Debt_Burden_Ratio =====
  Debt_Burden_Ratio  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0          < = 0.10  10799     134       10665    0.047150       0.692263
1          < = 0.50   4487    1220        3267    0.429275       0.212060
2            > 0.50   2962    1488        1474    0.523575       0.095677

        WOE        IV
0  2.686614  1.733169
1 -0.705225  0.153185
2 -1.699694  0.727295
Total IV for  Debt_Burden_Ratio : 2.6137
/n===== Years_at_current_address =====
  Years_at_current_address  Total  Events  Non_Events  Dist_Event  \
0            (-0.001, 2.0]   2114     334        1780    0.117523
1               (2.0, 5.0]   2220     325        1895    0.114356
2               (5.0, 6.0]   1281     201        1080    0.070725
3               (6.0, 8.0]   2635     405        2230    0.142505
4               (8.0, 9.0]   1327     204        1123    0.071780
5              (9.0, 11.0]   2868     456        2412    0.160450
6             (11.0, 12.0]   1588     241        1347    0.084799
7             (12.0, 13.0]   1376     247        1129    0.086911
8             (13.0, 14.0]   1411     204        1207    0.071780
9             (14.0, 15.0]   1428     225        1203    0.079170

   Dist_NonEvent       WOE        IV
0       0.115539 -0.017021  0.000034
1       0.123004  0.072899  0.000630
2       0.070103 -0.008837  0.000005
3       0.144749  0.015621  0.000035
4       0.072894  0.015390  0.000017
5       0.156562 -0.024530  0.000095
6       0.087433  0.030589  0.000081
7       0.073283 -0.170548  0.002324
8       0.078346  0.087523  0.000575
9       0.078086 -0.013776  0.000015
Total IV for  Years_at_current_address : 0.0038
/n===== Credit_Amount =====
          Credit_Amount  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0  (50000.999, 75606.0]   1826     292        1534    0.102745       0.099572
1   (75606.0, 101406.0]   1825     288        1537    0.101337       0.099766
2  (101406.0, 126323.1]   1824     283        1541    0.099578       0.100026
3  (126323.1, 151320.6]   1824     258        1566    0.090781       0.101649
4  (151320.6, 176476.0]   1827     298        1529    0.104856       0.099247
5  (176476.0, 201312.0]   1826     301        1525    0.105911       0.098987
6  (201312.0, 226593.0]   1822     265        1557    0.093244       0.101065
7  (226593.0, 251046.0]   1825     292        1533    0.102745       0.099507
8  (251046.0, 275641.0]   1825     294        1531    0.103448       0.099377
9  (275641.0, 299990.0]   1824     271        1553    0.095355       0.100805

        WOE        IV
0 -0.031369  0.000100
1 -0.015622  0.000025
2  0.004491  0.000002
3  0.113070  0.001229
4 -0.054973  0.000308
5 -0.067609  0.000468
6  0.080537  0.000630
7 -0.032021  0.000104
8 -0.040152  0.000163
9  0.055575  0.000303
Total IV for  Credit_Amount : 0.0033
/n===== Housing_1_Own_2_Rent =====
  Housing_1_Own_2_Rent  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0                    1   8515     874        7641     0.30753       0.495976
1                    2   9733    1968        7765     0.69247       0.504024

        WOE        IV
0  0.477953  0.090068
1 -0.317640  0.059858
Total IV for  Housing_1_Own_2_Rent : 0.1499
/n===== Employed_since_yrs =====
  Employed_since_yrs  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0       (0.999, 4.0]   1947     460        1487    0.161858       0.096521
1         (4.0, 6.0]   1731     399        1332    0.140394       0.086460
2         (6.0, 7.0]   1857     306        1551    0.107671       0.100675
3         (7.0, 8.0]   1878     325        1553    0.114356       0.100805
4         (8.0, 9.0]   1896     352        1544    0.123856       0.100221
5        (9.0, 10.0]   1992     406        1586    0.142857       0.102947
6       (10.0, 13.0]   2080     201        1879    0.070725       0.121965
7       (13.0, 15.0]   1430     118        1312    0.041520       0.085162
8       (15.0, 18.0]   2074     154        1920    0.054187       0.124627
9       (18.0, 20.0]   1363     121        1242    0.042576       0.080618

        WOE        IV
0 -0.516955  0.033776
1 -0.484769  0.026146
2 -0.067178  0.000470
3 -0.126129  0.001709
4 -0.211747  0.005005
5 -0.327629  0.013076
6  0.544935  0.027923
7  0.718362  0.031350
8  0.832868  0.058667
9  0.638428  0.024287
Total IV for  Employed_since_yrs : 0.2224
/n===== Location =====
  Location  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0  Central   5861     909        4952    0.319845       0.321433  0.004953
1    North   6394     959        5435    0.337438       0.352785  0.044475
2    South   5993     974        5019    0.342716       0.325782 -0.050674

         IV
0  0.000008
1  0.000683
2  0.000858
Total IV for  Location : 0.0015

C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']

/n===== DPD_30_6M =====
  DPD_30_6M  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0         0  12961     160       12801    0.056298       0.830910  2.691839
1         1   5247    2667        2580    0.938424       0.167467 -1.723409
2         2     40      15          25    0.005278       0.001623 -1.178997

         IV
0  2.085130
1  1.328673
2  0.004310
Total IV for  DPD_30_6M : 3.4181
/n===== DPD_60_6M =====
  DPD_60_6M  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0         0  13861     422       13439    0.148487       0.872322  1.770656
1         1   4343    2401        1942    0.844828       0.126055 -1.902409
2         2     44      19          25    0.006685       0.001623 -1.415346

         IV
0  1.281664
1  1.367400
2  0.007165
Total IV for  DPD_60_6M : 2.6562
/n===== Months_on_book =====
  Months_on_book  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0            < 6   9516    1471        8045    0.517593       0.522199
1           < 6      75       7          68    0.002463       0.004414
2          > = 6   8657    1364        7293    0.479944       0.473387

        WOE        IV
0  0.008859  0.000041
1  0.583169  0.001138
2 -0.013756  0.000090
Total IV for  Months_on_book : 0.0013
/n===== Occupation_Partner =====
  Occupation_Partner  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0              fixed   9003    1971        7032    0.693526       0.456446
1          freelance   4646     587        4059    0.206545       0.263469
2             others   1004      96         908    0.033779       0.058938
3            partime   3595     188        3407    0.066151       0.221148

        WOE        IV
0 -0.418318  0.099175
1  0.243417  0.013856
2  0.556635  0.014004
3  1.206886  0.187064
Total IV for  Occupation_Partner : 0.3141
/n===== Job_Seniority =====
   Job_Seniority  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0  (-0.001, 1.0]   6813     480        6333    0.168895       0.411074
1     (1.0, 2.0]   2331     217        2114    0.076355       0.137219
2     (2.0, 4.0]   2358     398        1960    0.140042       0.127223
3     (4.0, 6.0]   1771     321        1450    0.112949       0.094119
4    (6.0, 10.0]   1948     450        1498    0.158339       0.097235
5   (10.0, 14.0]   1234     341         893    0.119986       0.057964
6   (14.0, 48.0]   1793     635        1158    0.223434       0.075166

        WOE        IV
0  0.889491  0.215415
1  0.586185  0.035678
2 -0.096001  0.001231
3 -0.182370  0.003434
4 -0.487606  0.029795
5 -0.727536  0.045123
6 -1.089416  0.161526
Total IV for  Job_Seniority : 0.4922
/n===== Assets =====
               Assets  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0    (-0.001, 1000.0]   9174     875        8299    0.307882       0.538686
1    (1000.0, 3000.0]   2240     342        1898    0.120338       0.123199
2    (3000.0, 4000.0]   1825     391        1434    0.137579       0.093081
3    (4000.0, 6000.0]   1844     476        1368    0.167488       0.088797
4    (6000.0, 9000.0]   1365     281        1084    0.098874       0.070362
5  (9000.0, 250000.0]   1800     477        1323    0.167840       0.085876

        WOE        IV
0  0.559416  0.129116
1  0.023496  0.000067
2 -0.390730  0.017387
3 -0.634556  0.049934
4 -0.340186  0.009699
5 -0.670103  0.054924
Total IV for  Assets : 0.2611
/n===== Savings =====
                         Savings  Total  Events  Non_Events  Dist_Event  \
0  (-7.2490000000000006, -0.212]   1827      77        1750    0.027094
1                 (-0.212, 0.66]   1831     198        1633    0.069669
2                  (0.66, 1.267]   1830     199        1631    0.070021
3                 (1.267, 1.824]   1816     197        1619    0.069317
4                 (1.824, 2.357]   1822     258        1564    0.090781
5                   (2.357, 3.0]   1888     368        1520    0.129486
6                   (3.0, 3.778]   1768     306        1462    0.107671
7                 (3.778, 4.929]   1823     367        1456    0.129134
8                 (4.929, 6.776]   1821     383        1438    0.134764
9                  (6.776, 30.6]   1822     489        1333    0.172062

   Dist_NonEvent       WOE        IV
0       0.113592  1.433289  0.123977
1       0.105998  0.419653  0.015245
2       0.105868  0.413390  0.014819
3       0.105089  0.416106  0.014885
4       0.101519  0.111792  0.001200
5       0.098663 -0.271864  0.008380
6       0.094898 -0.126272  0.001613
7       0.094509 -0.312160  0.010809
8       0.093340 -0.367272  0.015214
9       0.086525 -0.687418  0.058800
Total IV for  Savings : 0.2649
                    Variable        IV  Interpretation
15                 DPD_30_6M  3.418113      Suspicious
16                 DPD_60_6M  2.656229      Suspicious
9          Debt_Burden_Ratio  2.613650      Suspicious
4            Occupation_type  0.653111      Suspicious
19             Job_Seniority  0.492202          Strong
18        Occupation_Partner  0.314099          Strong
21                   Savings  0.264942          Medium
20                    Assets  0.261127          Medium
2               Income_group  0.252993          Medium
1                        Age  0.239228          Medium
13        Employed_since_yrs  0.222409          Medium
12      Housing_1_Own_2_Rent  0.149926          Medium
6                 Dependents  0.111193          Medium
7             Marital_Status  0.071878            Weak
3          Existing_Customer  0.037228            Weak
8                     Gender  0.016020  Not Predictive
0                    Cust_id  0.004022  Not Predictive
10  Years_at_current_address  0.003812  Not Predictive
11             Credit_Amount  0.003331  Not Predictive
5    Education_Qualification  0.002473  Not Predictive
14                  Location  0.001549  Not Predictive
17            Months_on_book  0.001269  Not Predictive

C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']

In [17]:
import pandas as pd
import numpy as np
## Age

df_clean['Age_bin']=np.select([df_clean['Age']<25,
                              (df_clean['Age']>=25) & (df_clean['Age']<=40),
                               df_clean['Age']>40 ],
                              ['High Risk (<25)', 'Medium Risk (25-40)', 'Low Risk (>40)'],default='Others'
                             )


##Income_Group
def bin_income(x):
    x=str(x).replace(" ","").lower()
    if x in ['<=15000','<=25000','<=35000']:
        return 'High Risk (<=35k)'
    elif x in ['<=50000','<=100000']:
        return 'Medium Risk (36k-100k)'
    elif x in ['>100000','>100k']:
        return 'Low Risk (>100k)'
    else:
        return 'Other'
    
df_clean['Income_bin']=df_clean['Income_group'].apply(bin_income)

## Occupation_Type

def bin_occ(x):
    x=str(x).strip().lower()
    if x in ['unemployed']:
        return 'High Risk (Unemployed)'
    elif x in ['private']:
        return 'Medium Risk (Private)'
    elif x in ['govt','self employed','self_employed','self-employed']:
        return 'Low Risk (govt/self employed)'
    else:
        return 'Other'
    
df_clean['Occ_bin']=df_clean['Occupation_type'].apply(bin_occ)

## Marital status

def bin_marital(x):
    x = str(x).strip().lower()
    if x == 'single':
        return 'High Risk (Single)'
    elif x in ['married', 'separated', 'seperated']:
        return 'Low Risk (Married/Separated)'
    else:
        return 'Other'

df_clean['Marital_bin'] = df_clean['Marital_Status'].apply(bin_marital)

## Housing Rent

df_clean['Housing_bin'] = df_clean['Housing_1_Own_2_Rent'].map({
    1: 'Low Risk (Own)',
    2: 'High Risk (Rent)'
})

##Employed_since_yrs

df_clean['EmpTenure_bin'] = np.select(
    [
        df_clean['Employed_since_yrs'] <= 3,
        (df_clean['Employed_since_yrs'] > 3) & (df_clean['Employed_since_yrs'] <= 10),
        df_clean['Employed_since_yrs'] > 10
    ],
    ['High Risk (<=3 yrs)', 'Medium Risk (4-10 yrs)', 'Low Risk (>10 yrs)'],
    default='Other'
)
    

## Occupation_Partner

def bin_occ_partner(x):
    x = str(x).strip().lower()
    if x in ['freelance', 'others']:
        return 'High Risk (Freelance/Others)'
    elif x == 'partime':
        return 'Medium Risk (Part-time)'
    elif x == 'fixed':
        return 'Low Risk (Fixed)'
    else:
        return 'Other'

df_clean['OccPartner_bin'] = df_clean['Occupation_Partner'].apply(bin_occ_partner) 


print(df_clean[['Age_bin','Income_bin','Occ_bin','Marital_bin',
                'Housing_bin','EmpTenure_bin','OccPartner_bin']].head(15))

                Age_bin              Income_bin  \
0        Low Risk (>40)  Medium Risk (36k-100k)
1   Medium Risk (25-40)        Low Risk (>100k)
2   Medium Risk (25-40)  Medium Risk (36k-100k)
3        Low Risk (>40)  Medium Risk (36k-100k)
4   Medium Risk (25-40)  Medium Risk (36k-100k)
5        Low Risk (>40)        Low Risk (>100k)
6   Medium Risk (25-40)  Medium Risk (36k-100k)
7        Low Risk (>40)        Low Risk (>100k)
8        Low Risk (>40)        Low Risk (>100k)
9        Low Risk (>40)  Medium Risk (36k-100k)
10       Low Risk (>40)  Medium Risk (36k-100k)
11       Low Risk (>40)        Low Risk (>100k)
12  Medium Risk (25-40)  Medium Risk (36k-100k)
13  Medium Risk (25-40)  Medium Risk (36k-100k)
14       Low Risk (>40)  Medium Risk (36k-100k)

                          Occ_bin                   Marital_bin  \
0           Medium Risk (Private)            High Risk (Single)
1   Low Risk (govt/self employed)  Low Risk (Married/Separated)
2   Low Risk (govt/self employed)            High Risk (Single)
3           Medium Risk (Private)            High Risk (Single)
4           Medium Risk (Private)  Low Risk (Married/Separated)
5   Low Risk (govt/self employed)            High Risk (Single)
6           Medium Risk (Private)  Low Risk (Married/Separated)
7   Low Risk (govt/self employed)            High Risk (Single)
8           Medium Risk (Private)            High Risk (Single)
9   Low Risk (govt/self employed)  Low Risk (Married/Separated)
10          Medium Risk (Private)  Low Risk (Married/Separated)
11          Medium Risk (Private)            High Risk (Single)
12          Medium Risk (Private)  Low Risk (Married/Separated)
13          Medium Risk (Private)  Low Risk (Married/Separated)
14  Low Risk (govt/self employed)            High Risk (Single)

         Housing_bin           EmpTenure_bin                OccPartner_bin
0     Low Risk (Own)      Low Risk (>10 yrs)  High Risk (Freelance/Others)
1   High Risk (Rent)      Low Risk (>10 yrs)  High Risk (Freelance/Others)
2   High Risk (Rent)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
3   High Risk (Rent)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
4   High Risk (Rent)  Medium Risk (4-10 yrs)       Medium Risk (Part-time)
5     Low Risk (Own)      Low Risk (>10 yrs)       Medium Risk (Part-time)
6     Low Risk (Own)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
7   High Risk (Rent)      Low Risk (>10 yrs)  High Risk (Freelance/Others)
8     Low Risk (Own)      Low Risk (>10 yrs)       Medium Risk (Part-time)
9   High Risk (Rent)      Low Risk (>10 yrs)              Low Risk (Fixed)
10    Low Risk (Own)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
11    Low Risk (Own)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
12    Low Risk (Own)  Medium Risk (4-10 yrs)       Medium Risk (Part-time)
13  High Risk (Rent)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
14    Low Risk (Own)      Low Risk (>10 yrs)  High Risk (Freelance/Others)

C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\585292954.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Age_bin']=np.select([df_clean['Age']<25,
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\585292954.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Income_bin']=df_clean['Income_group'].apply(bin_income)
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\585292954.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Occ_bin']=df_clean['Occupation_type'].apply(bin_occ)
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\585292954.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Marital_bin'] = df_clean['Marital_Status'].apply(bin_marital)
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\585292954.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Housing_bin'] = df_clean['Housing_1_Own_2_Rent'].map({
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\585292954.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['EmpTenure_bin'] = np.select(
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\585292954.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['OccPartner_bin'] = df_clean['Occupation_Partner'].apply(bin_occ_partner)

In [18]:
import pandas as pd
import numpy as np

target='Default_Flag'

coarse_vars=['Age_bin','Income_bin','Occ_bin','Marital_bin',
                'Housing_bin','EmpTenure_bin','OccPartner_bin']

def calc_woe_iv(df,feature,target):
    grouped=df.groupby(feature)[target].agg(['count','sum'])
    grouped.rename(columns={'count':'Total','sum':'Events'},inplace=True)
    grouped['Non_Events']=grouped['Total']-grouped['Events']

    grouped['Dist_Event']=grouped['Events']/grouped['Events'].sum()
    grouped['Dist_NonEvent']=grouped['Non_Events']/grouped['Non_Events'].sum()


    eps=1e-6 #EPS stands for Epsilon. It is a tiny number (0.000001) .
    #We add this EPS to our calculations later to avoid Division by Zero or log(0) errors, which would crash the code if a bin has zero Bads or zero Goods.

    grouped['WOE']=np.log( (grouped['Dist_NonEvent'] +eps)/(grouped['Dist_Event'] + eps))
    
    grouped['IV']=(grouped['Dist_NonEvent']-grouped['Dist_Event'])*grouped['WOE']
    grouped['IV']=grouped['IV'].round(6)
    
    total_iv=grouped['IV'].sum().round(4)
    
    return grouped.reset_index(),total_iv

iv_summary=[]

for  var in coarse_vars:
    table,total_iv=calc_woe_iv(df_clean,var,target)
    print(f"\n========")
    print(f"WOE/IV table for {var}")
    print(table)
    print(f"Total IV for {var}: {total_iv}")
    iv_summary.append({'Variable':var,'IV':total_iv})



iv_summary_df=pd.DataFrame(iv_summary)
print(iv_summary_df)

========
WOE/IV table for Age_bin
               Age_bin  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0      High Risk (<25)    686     200         486    0.070373       0.031546
1       Low Risk (>40)   9995    1106        8889    0.389163       0.576983
2  Medium Risk (25-40)   7567    1536        6031    0.540464       0.391471

        WOE        IV
0 -0.802340  0.031152
1  0.393815  0.073966
2 -0.322517  0.048053
Total IV for Age_bin: 0.1532

========
WOE/IV table for Income_bin
               Income_bin  Total  Events  Non_Events  Dist_Event  \
0       High Risk (<=35k)   3167     737        2430    0.259324
1        Low Risk (>100k)   5504     382        5122    0.134412
2  Medium Risk (36k-100k)   9577    1723        7854    0.606263

   Dist_NonEvent       WOE        IV
0       0.157731 -0.497188  0.050511
1       0.332468  0.905626  0.179364
2       0.509801 -0.173293  0.016716
Total IV for Income_bin: 0.2466

========
WOE/IV table for Occ_bin
                         Occ_bin  Total  Events  Non_Events  Dist_Event  \
0         High Risk (Unemployed)      4       0           4    0.000000
1  Low Risk (govt/self employed)   7729    1892        5837    0.665728
2          Medium Risk (Private)  10515     950        9565    0.334272

   Dist_NonEvent       WOE        IV
0       0.000260  5.563137  0.001444
1       0.378878 -0.563665  0.161687
2       0.620862  0.619154  0.177443
Total IV for Occ_bin: 0.3406

========
WOE/IV table for Marital_bin
                    Marital_bin  Total  Events  Non_Events  Dist_Event  \
0            High Risk (Single)   8762    1617        7145    0.568966
1  Low Risk (Married/Separated)   9486    1225        8261    0.431034

   Dist_NonEvent       WOE        IV
0        0.46378 -0.204408  0.021501
1        0.53622  0.218355  0.022968
Total IV for Marital_bin: 0.0445

========
WOE/IV table for Housing_bin
        Housing_bin  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0  High Risk (Rent)   9733    1968        7765     0.69247       0.504024
1    Low Risk (Own)   8515     874        7641     0.30753       0.495976

        WOE        IV
0 -0.317640  0.059858
1  0.477953  0.090068
Total IV for Housing_bin: 0.1499

========
WOE/IV table for EmpTenure_bin
            EmpTenure_bin  Total  Events  Non_Events  Dist_Event  \
0     High Risk (<=3 yrs)   1467     363        1104    0.127727
1      Low Risk (>10 yrs)   6947     594        6353    0.209008
2  Medium Risk (4-10 yrs)   9834    1885        7949    0.663265

   Dist_NonEvent       WOE        IV
0       0.071660 -0.577950  0.032404
1       0.412372  0.679552  0.138196
2       0.515968 -0.251130  0.036991
Total IV for EmpTenure_bin: 0.2076

========
WOE/IV table for OccPartner_bin
                 OccPartner_bin  Total  Events  Non_Events  Dist_Event  \
0  High Risk (Freelance/Others)   5650     683        4967    0.240324
1              Low Risk (Fixed)   9003    1971        7032    0.693526
2       Medium Risk (Part-time)   3595     188        3407    0.066151

   Dist_NonEvent       WOE        IV
0       0.322407  0.293826  0.024118
1       0.456446 -0.418318  0.099175
2       0.221148  1.206886  0.187064
Total IV for OccPartner_bin: 0.3104
         Variable      IV
0         Age_bin  0.1532
1      Income_bin  0.2466
2         Occ_bin  0.3406
3     Marital_bin  0.0445
4     Housing_bin  0.1499
5   EmpTenure_bin  0.2076
6  OccPartner_bin  0.3104

In [19]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor



def calc_woe_iv(df,feature,target):
    temp=df.groupby(feature)[target].agg(['count','sum'])
    temp['non_event']=temp['count']-temp['sum']
    temp['event_dist']=temp['sum']/temp['sum'].sum()
    temp['non_event_dist']=temp['non_event']/temp['non_event'].sum()
    eps=1e-6 #EPS stands for Epsilon. It is a tiny number (0.000001) .
    #We add this EPS to our calculations later to avoid Division by Zero or log(0) errors, which would crash the code if a bin has zero Bads or zero Goods.
    temp['WOE']=np.log((temp['non_event_dist']+eps)/(temp['event_dist']+eps))
    mapping=temp['WOE'].to_dict()
    return mapping

coarse_vars=['Age_bin','Income_bin','Occ_bin','Marital_bin',
                'Housing_bin','EmpTenure_bin','OccPartner_bin']

df_woe=df_clean.copy()
for var in coarse_vars:
    woe_map=calc_woe_iv(df_clean,var,'Default_Flag')
    df_woe[var+'_WOE']=df_clean[var].map(woe_map)
    
woe_cols=[v + '_WOE' for v in coarse_vars]
X=df_woe[woe_cols]

X_const = sm.add_constant(X) # this constant is 1 and it represents Intercept (alpha) in regression model ##
                             # This constant refers to value of dependent variable when all independent variables are zero
vif_data=pd.DataFrame()
vif_data['feature']=X_const.columns
vif_data['VIF']=[variance_inflation_factor(X_const.values,i) for i in range(X_const.shape[1])]

vif_data = vif_data[vif_data['feature'] != 'const'] ## VIF is designed for predictors and The intercept is not a predictor
                                                    ## so intercept's VIF has no modelling interpretation, we ignore it and drop it from the VIF table
print(vif_data)

## we will drop variable EmpTenure_bin_WOE  becoz its VIF >2

              feature       VIF
1         Age_bin_WOE  1.761236
2      Income_bin_WOE  1.568748
3         Occ_bin_WOE  1.021914
4     Marital_bin_WOE  1.007146
5     Housing_bin_WOE  1.002648
6   EmpTenure_bin_WOE  2.061488
7  OccPartner_bin_WOE  1.003201

In [20]:
import pandas as pd
import statsmodels.api as sm


woe_vars=['Age_bin_WOE','Income_bin_WOE','Occ_bin_WOE','Marital_bin_WOE',
                'Housing_bin_WOE','OccPartner_bin_WOE']

df_model=df_woe[woe_vars + ['Default_Flag']].copy()

print("Shape of modeling dataset:", df_model.shape)
print(df_model.head())

X=df_model[woe_vars]
y=df_model['Default_Flag']


X=sm.add_constant(X) # this constant is 1 and it represents Intercept (alpha) in regression model. #
                    # This constant refers to value of dependent variable when all independent variables are zero ##

logit_model=sm.Logit(y,X)
result=logit_model.fit()
## Statsmodels Logit reports McFadden’s Pseudo R² . So there are 3 types of Pseudo R² : McFadden , Cox & Snell and Nagelkerke.x

print(result.summary())

Shape of modeling dataset: (18248, 7)
   Age_bin_WOE  Income_bin_WOE  Occ_bin_WOE  Marital_bin_WOE  Housing_bin_WOE  \
0     0.393815       -0.173293     0.619154        -0.204408         0.477953
1    -0.322517        0.905626    -0.563665         0.218355        -0.317640
2    -0.322517       -0.173293    -0.563665        -0.204408        -0.317640
3     0.393815       -0.173293     0.619154        -0.204408        -0.317640
4    -0.322517       -0.173293     0.619154         0.218355        -0.317640

   OccPartner_bin_WOE  Default_Flag
0            0.293826             0
1            0.293826             0
2           -0.418318             0
3           -0.418318             1
4            1.206886             0
Optimization terminated successfully.
         Current function value: 0.368779
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:           Default_Flag   No. Observations:                18248
Model:                          Logit   Df Residuals:                    18241
Method:                           MLE   Df Model:                            6
Date:                Sat, 28 Feb 2026   Pseudo R-squ.:                  0.1474
Time:                        15:38:55   Log-Likelihood:                -6729.5
converged:                       True   LL-Null:                       -7893.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                 -1.6859      0.023    -72.899      0.000      -1.731      -1.641
Age_bin_WOE           -0.3984      0.063     -6.328      0.000      -0.522      -0.275
Income_bin_WOE        -0.7327      0.054    -13.638      0.000      -0.838      -0.627
Occ_bin_WOE           -0.9226      0.038    -24.154      0.000      -0.997      -0.848
Marital_bin_WOE       -1.0887      0.105    -10.398      0.000      -1.294      -0.884
Housing_bin_WOE       -0.9782      0.058    -16.850      0.000      -1.092      -0.864
OccPartner_bin_WOE    -0.9968      0.044    -22.642      0.000      -1.083      -0.910
======================================================================================

In [21]:
import pandas as pd
import numpy as np

df_model['pred_prob']=result.predict(sm.add_constant(df_model[woe_vars]))

default=df_model[df_model['Default_Flag']==1]['pred_prob']
nondefault=df_model[df_model['Default_Flag']==0]['pred_prob']

concordant=0
discordant=0
ties=0

for i in default:
    for j in nondefault:
        if i>j:
            concordant+=1
        elif i<j:
            discordant+=1
        else:
            ties+=1
            
total_pairs=concordant+discordant+ties


concordance_perc=round((concordant/total_pairs)*100,2)
discordance_perc=round((discordant/total_pairs)*100,2)
ties_perc=round((ties/total_pairs)*100,2)

print("Concordant pair:",concordant)
print("Discordant pair:",discordant)
print("Ties pair:",ties)
print("Total pair:",total_pairs)

print("\n concordance (%):",concordance_perc)
print("\n discordance (%):",discordance_perc)
print("\n ties (%):",ties_perc)

Concordant pair: 33396231
Discordant pair: 9957612
Ties pair: 430009
Total pair: 43783852

 concordance (%): 76.28

 discordance (%): 22.74

 ties (%): 0.98

In [22]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score

y_true=df_model['Default_Flag']
y_pred_prob=df_model['pred_prob']

c_statistics=roc_auc_score(y_true,y_pred_prob)

somers_d=2 *c_statistics - 1

print("C-Statistics (AUC):",round(c_statistics,4))
print("Somer's D:",round(somers_d,4))



df_rank=df_model[['Default_Flag','pred_prob']].copy()
df_rank = df_rank.sort_values(by='pred_prob', ascending=False).reset_index(drop=True)
df_rank['decile']=pd.qcut(df_rank['pred_prob'],10,labels=False,duplicates='drop')+1

rank_table=df_rank.groupby('decile').agg(
    total_customers=('Default_Flag','count'),
    mean_score=('pred_prob','mean'),
    bad_rate=('Default_Flag','mean')
).reset_index()

rank_table=rank_table.sort_values(by='decile',ascending=True).reset_index(drop=True)
rank_table

C-Statistics (AUC): 0.7677
Somer's D: 0.5353

   decile  total_customers  mean_score  bad_rate
0       1             1831    0.017917  0.014200
1       2             1820    0.036321  0.031319
2       3             1894    0.054756  0.062830
3       4             1768    0.074363  0.084276
4       5             1881    0.100092  0.099415
5       6             1978    0.131922  0.127401
6       7             1686    0.169327  0.170225
7       8             1853    0.222938  0.223961
8       9             1730    0.301893  0.289017
9      10             1807    0.463657  0.470393

In [23]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score,roc_curve

def ks_statistics(y_true,y_pred_prob):
    data=pd.DataFrame({"y_true":y_true,"y_pred_prob":y_pred_prob})
    data=data.sort_values(by="y_pred_prob",ascending=False)
    
    data['cum_bad']=(data['y_true']==1).cumsum()/(data['y_true']==1).sum()
    data['cum_good']=(data['y_true']==0).cumsum()/(data['y_true']==0).sum()
    
    data['ks']=np.abs(data['cum_bad']-data['cum_good'])
    ks_value=data['ks'].max()
    ks_at=data.loc[data['ks'].idxmax(),"y_pred_prob"]
    
    return ks_value,ks_at,data


ks_value,ks_cutoff,ks_table=ks_statistics(y_true,y_pred_prob)
print(f"KS Stats:{ks_value:.4f} at cut_off{ks_cutoff:.4f}")
    
    
    
auc=roc_auc_score(y_true,y_pred_prob)
gini=2*auc-1
print(f"AUC:{auc:.4f}")
print(f"Gini coefficient:{gini:.4f}")

ks_table

pd_threshold = np.percentile(ks_table["y_pred_prob"], 80)
pd_threshold

KS Stats:0.4018 at cut_off0.1641
AUC:0.7677
Gini coefficient:0.5353

np.float64(0.2589449161781219)

In [24]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score

num_bads= df_model['Default_Flag'].sum()
num_goods = len(df_model) - num_bads
base_odds = num_goods / num_bads

print(f"Number of Goods : {num_goods}")
print(f"Number of Bads  : {num_bads}")
print(f"Base Odds (G:B): {base_odds:.2f}")

PDO = 20

B = PDO / np.log(2)
print(f"B (slope parameter): {B:.4f}")

BASE_SCORE = 600

A = BASE_SCORE + B * np.log(base_odds)
print(f"A (offset parameter): {A:.4f}")

df_model['log_odds'] = np.log(
    df_model['pred_prob'] / (1 - df_model['pred_prob'])
)

df_model['credit_score'] = A - B * df_model['log_odds'] #higher log-odds -> higher PD -> higher risk 
                                                       # but banks want higher score=low PD=good borrower, so we subtract
                                                      # this "B * log_odds" to invert the direction .

df_model['credit_score'].describe()

df_model['score_decile'] = pd.qcut(df_model['credit_score'], 10)

score_validation = df_model.groupby('score_decile').agg(
    total_customers=('Default_Flag', 'count'),
    bad_rate=('Default_Flag', 'mean'),
    avg_score=('credit_score', 'mean')
).reset_index()

score_validation

auc_score = roc_auc_score(
    df_model['Default_Flag'],
    df_model['credit_score']
)
print(f"\n score_validation : {score_validation}")
print(f"\n AUC using PD   : {roc_auc_score(df_model['Default_Flag'], df_model['pred_prob']):.4f}")
print(f"\n AUC using Score: {auc_score:.4f}")
# AUC using PD   : 0.7678 but AUC using Score: 0.2322 bcoz we inverted the direction . 
# but this is normal becoz 1-0.7678 = 0.2322 
df_model

Number of Goods : 15406
Number of Bads  : 2842
Base Odds (G:B): 5.42
B (slope parameter): 28.8539
A (offset parameter): 648.7703

 score_validation :          score_decile  total_customers  bad_rate   avg_score
0  (635.256, 666.746]             1846  0.468039  653.314117
1  (666.746, 679.109]             1999  0.277639  674.125856
2  (679.109, 691.591]             1794  0.219064  686.868024
3  (691.591, 700.624]             1885  0.148011  696.585769
4  (700.624, 709.798]             1870  0.135829  705.054955
5  (709.798, 715.878]             1660  0.096988  712.951357
6  (715.878, 725.052]             1722  0.081301  722.150916
7  (725.052, 735.682]             1875  0.060800  731.479298
8  (735.682, 749.223]             1785  0.031373  743.877665
9  (749.223, 888.511]             1812  0.014349  766.621278

 AUC using PD   : 0.7677

 AUC using Score: 0.2323

C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\2000708767.py:35: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  score_validation = df_model.groupby('score_decile').agg(

,Age_bin_WOE,Income_bin_WOE,Occ_bin_WOE,Marital_bin_WOE,Housing_bin_WOE,OccPartner_bin_WOE,Default_Flag,pred_prob,log_odds,credit_score,score_decile
0,0.393815,-0.173293,0.619154,-0.204408,0.477953,0.293826,0,0.055993,-2.824915,730.280088,"(725.052, 735.682]"
1,-0.322517,0.905626,-0.563665,0.218355,-0.317640,0.293826,0,0.127770,-1.920822,704.193485,"(700.624, 709.798]"
2,-0.322517,-0.173293,-0.563665,-0.204408,-0.317640,-0.418318,0,0.509959,0.039843,647.620659,"(635.256, 666.746]"
3,0.393815,-0.173293,0.619154,-0.204408,-0.317640,-0.418318,1,0.208029,-1.336846,687.343493,"(679.109, 691.591]"
4,-0.322517,-0.173293,0.619154,0.218355,-0.317640,1.206886,0,0.041818,-3.131699,739.131998,"(735.682, 749.223]"
...,...,...,...,...,...,...,...,...,...,...,...
18262,-0.322517,-0.173293,0.619154,-0.204408,0.477953,0.293826,0,0.073133,-2.539529,722.045583,"(715.878, 725.052]"
18263,0.393815,-0.173293,-0.563665,0.218355,0.477953,-0.418318,0,0.184816,-1.484051,691.590942,"(679.109, 691.591]"
18264,0.393815,-0.173293,0.619154,-0.204408,0.477953,0.293826,1,0.055993,-2.824915,730.280088,"(725.052, 735.682]"
18265,-0.322517,-0.173293,-0.563665,-0.204408,-0.317640,-0.418318,0,0.509959,0.039843,647.620659,"(635.256, 666.746]"
18266,-0.322517,-0.173293,0.619154,0.218355,0.477953,-0.418318,0,0.091957,-2.289967,714.844767,"(709.798, 715.878]"

In [25]:
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix


pd_threshold = np.percentile(ks_table["y_pred_prob"], 80)

y_true=df_model['Default_Flag']
y_pred_prob=df_model['pred_prob']
y_pred_class=(y_pred_prob>0.25).astype(int) # 0.25 is our PD threshold and Customers with y_pred_prob ≤ 0.25 → top 20% safest

accuracy=accuracy_score(y_true,y_pred_class)
accuracy

precision=precision_score(y_true,y_pred_class)

precision

cm=confusion_matrix(y_true,y_pred_class)
cm

array([[12946,  2460],
       [ 1419,  1423]])

In [26]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm

X=df_model[['Age_bin_WOE','Income_bin_WOE','Occ_bin_WOE','Marital_bin_WOE',
                'Housing_bin_WOE','OccPartner_bin_WOE']]

X=sm.add_constant(X)
df_model['pred_prob']=result.predict(X)

df_model['decile']=pd.qcut(df_model['pred_prob'],10,duplicates='drop')

h1_table=(
           df_model.groupby('decile',observed=False)
    .apply(lambda d: pd.Series({
        'total':len(d),
        'observed_1':d['Default_Flag'].sum(),
        'observed_0':(1-d['Default_Flag']).sum(),
        'expected_1':d['pred_prob'].sum(),
        'expected_0':(1-d['pred_prob']).sum()
        
    })
          )
    .reset_index()

)
h1_table['chi_1']=(h1_table['observed_1'] - h1_table['expected_1'])**2/h1_table['expected_1']
h1_table['chi_0']=(h1_table['observed_0'] - h1_table['expected_0'])**2/h1_table['expected_0']

HL_stat=h1_table['chi_1'].sum() + h1_table['chi_0'].sum() #Each decile has an error ;
                                            # so to answer “How bad is the model overall?” Total error = sum of all decile errors


df=h1_table.shape[0] - 2 # degrees of dreedom (g-2 where g=groups=10)
p_value=1-stats.chi2.cdf(HL_stat,df)

print(h1_table[['decile','observed_1','expected_1','observed_0','expected_0']])
print("\nHL Statistics:",round(HL_stat,2))
print("\n Degree of freedom:",df)
print("\np-value:",round(p_value,4))

                decile  observed_1  expected_1  observed_0   expected_0
0  (-0.000754, 0.0298]        26.0   32.806682      1805.0  1798.193318
1     (0.0298, 0.0469]        57.0   66.104000      1763.0  1753.896000
2     (0.0469, 0.0664]       119.0  103.708554      1775.0  1790.291446
3      (0.0664, 0.089]       149.0  131.474039      1619.0  1636.525961
4       (0.089, 0.108]       187.0  188.273019      1694.0  1692.726981
5       (0.108, 0.142]       252.0  260.941363      1726.0  1717.058637
6       (0.142, 0.185]       287.0  285.485152      1399.0  1400.514848
7       (0.185, 0.259]       415.0  413.104078      1438.0  1439.895922
8       (0.259, 0.349]       500.0  522.274882      1230.0  1207.725118
9       (0.349, 0.615]       850.0  837.828232       957.0   969.171768

HL Statistics: 9.72

 Degree of freedom: 8

p-value: 0.2851

C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\3231473126.py:16: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda d: pd.Series({

In [27]:
import pandas as pd
import statsmodels.api as sm

bad_rate_per_decile = df_model.groupby('score_decile')['Default_Flag'].mean().reset_index(name='bad_rate')

bad_rate_per_decile['bad_rate'] = round(bad_rate_per_decile['bad_rate'] * 100, 2)


pred_prob_per_decile=df_model.groupby('score_decile')['pred_prob'].mean().reset_index(name='avg_predicted_probability')

score_per_decile=df_model.groupby('score_decile')['credit_score'].mean().reset_index(name='avg_score')

clustering_check=(df_model.groupby('score_decile').size().reset_index(name='count'))

clustering_check['population_perc']=round((clustering_check['count']/clustering_check['count'].sum())*100,2)

clustering_check = clustering_check.merge(bad_rate_per_decile[['score_decile', 'bad_rate']], on='score_decile', how='left')
clustering_check = clustering_check.merge(pred_prob_per_decile[['score_decile','avg_predicted_probability']],on='score_decile',how='left')
clustering_check = clustering_check.merge(score_per_decile[['score_decile','avg_score']],on='score_decile',how='left')


clustering_check.sort_values(by='score_decile',ascending=True)

C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\1257615003.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  bad_rate_per_decile = df_model.groupby('score_decile')['Default_Flag'].mean().reset_index(name='bad_rate')
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\1257615003.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  pred_prob_per_decile=df_model.groupby('score_decile')['pred_prob'].mean().reset_index(name='avg_predicted_probability')
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\1257615003.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  score_per_decile=df_model.groupby('score_decile')['credit_score'].mean().reset_index(name='avg_score')
C:\Users\gheml\AppData\Local\Temp\ipykernel_15544\1257615003.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  clustering_check=(df_model.groupby('score_decile').size().reset_index(name='count'))

,score_decile,count,population_perc,bad_rate,avg_predicted_probability,avg_score
0,"(635.256, 666.746]",1846,10.12,46.80,0.461237,653.314117
1,"(666.746, 679.109]",1999,10.95,27.76,0.294355,674.125856
2,"(679.109, 691.591]",1794,9.83,21.91,0.211465,686.868024
3,"(691.591, 700.624]",1885,10.33,14.80,0.160834,696.585769
4,"(700.624, 709.798]",1870,10.25,13.58,0.125044,705.054955
5,"(709.798, 715.878]",1660,9.10,9.70,0.097751,712.951357
6,"(715.878, 725.052]",1722,9.44,8.13,0.073012,722.150916
7,"(725.052, 735.682]",1875,10.28,6.08,0.054077,731.479298
8,"(735.682, 749.223]",1785,9.78,3.14,0.035932,743.877665
9,"(749.223, 888.511]",1812,9.93,1.43,0.017792,766.621278

In [ ]:
## !pip install statsmodels

In [28]:
from sklearn.metrics import brier_score_loss

y_true=df_model['Default_Flag']
y_pred_prob=df_model['pred_prob']
brier_score=brier_score_loss(y_true,y_pred_prob)
print("Brier Score:",round(brier_score,4))

Brier Score: 0.1136