In [40]:
import pandas as pd
import numpy as np
import os

In [41]:
data=pd.read_csv(r'C:/Users/gheml/Documents/udemy_behaviour_scorecard_python/training_dataset.csv')
data

,Cust_id,Age,Income_group,Existing_Customer,Occupation_type,Education_Qualification,Dependents,Marital_Status,Gender,Debt_Burden_Ratio,...,Employed_since_yrs,Location,DPD_30_6M,DPD_60_6M,Months_on_book,Default_Flag,Occupation_Partner,Job_Seniority,Assets,Savings
0,14898,52,<=100000,0,Private,1,1,Single,M,< = 0.10,...,14,North,0,0,> = 6,0,freelance,20,10000,1.600000
1,34986,34,> 100000,0,Govt,1,1,Married,F,< = 0.10,...,11,Central,0,0,> = 6,0,freelance,5,1,7.662857
2,74167,37,<=100000,0,Govt,2,0,Single,M,< = 0.10,...,10,North,0,0,< 6,0,fixed,1,7700,6.624000
3,80278,43,< = 50000,0,Private,4,0,Single,M,< = 0.50,...,6,South,1,1,< 6,1,fixed,2,55,8.307692
4,2442,35,< = 50000,0,Private,3,1,Married,F,< = 0.10,...,8,South,0,0,> = 6,0,partime,0,0,0.675000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18262,35788,40,<=100000,0,Private,3,1,Single,M,< = 0.10,...,7,Central,0,0,> = 6,0,freelance,3,6000,2.589474
18263,85264,42,< = 50000,0,Govt,1,2,Married,F,< = 0.10,...,6,South,0,0,> = 6,0,fixed,14,4000,2.742857
18264,1481,43,<=100000,0,Private,1,0,Single,F,< = 0.50,...,7,North,1,1,< 6,1,freelance,0,10000,7.140000
18265,25731,37,< = 50000,0,Govt,4,1,Single,M,< = 0.50,...,9,Central,0,0,> = 6,0,fixed,2,2000,1.158621
18266,94945,39,<=100000,0,Private,2,2,Married,F,< = 0.10,...,7,Central,0,0,< 6,0,fixed,3,14000,2.145455

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18267 entries, 0 to 18266
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Cust_id                   18267 non-null  int64
 1   Age                       18267 non-null  int64
 2   Income_group              18267 non-null  object
 3   Existing_Customer         18267 non-null  int64
 4   Occupation_type           18267 non-null  object
 5   Education_Qualification   18267 non-null  int64
 6   Dependents                18267 non-null  int64
 7   Marital_Status            18267 non-null  object
 8   Gender                    18267 non-null  object
 9   Debt_Burden_Ratio         18267 non-null  object
 10  Years_at_current_address  18267 non-null  int64
 11  Credit_Amount             18267 non-null  int64
 12  Housing_1_Own_2_Rent      18267 non-null  int64
 13  Employed_since_yrs        18267 non-null  int64
 14  Location                  18267 non-null  object
 15  DPD_30_6M                 18267 non-null  object
 16  DPD_60_6M                 18267 non-null  object
 17  Months_on_book            18267 non-null  object
 18  Default_Flag              18267 non-null  int64
 19  Occupation_Partner        18267 non-null  object
 20  Job_Seniority             18267 non-null  int64
 21  Assets                    18267 non-null  int64
 22  Savings                   18267 non-null  float64
dtypes: float64(1), int64(12), object(10)
memory usage: 3.2+ MB

In [6]:
data.describe() 
# this shows statistics of numerical fields only  ,#
#and if use describe(include='all') then it will show top values,#
#frequency of top values , unique values of Categorical variables#

,Cust_id,Age,Existing_Customer,Education_Qualification,Dependents,Years_at_current_address,Credit_Amount,Housing_1_Own_2_Rent,Employed_since_yrs,Default_Flag,Job_Seniority,Assets,Savings
count,18267.00000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000
mean,49866.81847,40.719823,0.027755,2.497400,0.821098,8.696338,176105.240105,1.533311,10.260196,0.155745,5.226255,3991.752121,3.009446
std,28915.87710,7.824026,0.164274,1.115292,0.675604,4.315100,72030.759217,0.498903,4.885855,0.362624,6.687622,9498.744279,3.432628
min,3.00000,22.000000,0.000000,1.000000,0.000000,0.000000,50001.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-7.248000
25%,24753.00000,36.000000,0.000000,2.000000,0.000000,6.000000,113803.000000,1.000000,7.000000,0.000000,1.000000,0.000000,0.960000
50%,50057.00000,42.000000,0.000000,2.000000,1.000000,9.000000,176472.000000,2.000000,9.000000,0.000000,2.000000,1000.000000,2.357143
75%,74816.50000,45.000000,0.000000,3.000000,1.000000,12.000000,238418.000000,2.000000,14.000000,0.000000,7.000000,5000.000000,4.235294
max,99994.00000,55.000000,1.000000,4.000000,3.000000,15.000000,299990.000000,2.000000,20.000000,1.000000,48.000000,250000.000000,30.600000

In [7]:
print(data.isnull().sum()) # shows how many null value each column has #

Cust_id                     0
Age                         0
Income_group                0
Existing_Customer           0
Occupation_type             0
Education_Qualification     0
Dependents                  0
Marital_Status              0
Gender                      0
Debt_Burden_Ratio           0
Years_at_current_address    0
Credit_Amount               0
Housing_1_Own_2_Rent        0
Employed_since_yrs          0
Location                    0
DPD_30_6M                   0
DPD_60_6M                   0
Months_on_book              0
Default_Flag                0
Occupation_Partner          0
Job_Seniority               0
Assets                      0
Savings                     0
dtype: int64

In [8]:
print(data['Default_Flag'].value_counts(normalize=True)*100) # Target variable : 0 is non default , 1 is default #

Default_Flag
0    84.425467
1    15.574533
Name: proportion, dtype: float64

In [9]:
categorical_vars=data.select_dtypes(include=['object']).columns # it selects text-base i.e, categorical columns only #
for col in categorical_vars:
    print(f"\nVariable: {col}")
    print(data[col].value_counts(normalize=True)*100)

Variable: Income_group
Income_group
<=100000     39.448185
> 100000     30.191055
< = 50000    13.012536
< = 35000     7.527235
< = 25000     6.574698
< = 15000     3.246291
Name: proportion, dtype: float64

Variable: Occupation_type
Occupation_type
Private          57.612087
Govt             36.634368
Self-Employed     5.288225
Self-employed     0.443423
Unemployed        0.021897
Name: proportion, dtype: float64

Variable: Marital_Status
Marital_Status
Married      51.858543
Single       48.048393
Seperated     0.093064
Name: proportion, dtype: float64

Variable: Gender
Gender
F    50.588493
M    49.411507
Name: proportion, dtype: float64

Variable: Debt_Burden_Ratio
Debt_Burden_Ratio
< = 0.10    59.172278
< = 0.50    24.579843
> 0.50      16.247879
Name: proportion, dtype: float64

Variable: Location
Location
North      35.024908
South      32.840642
Central    32.134450
Name: proportion, dtype: float64

Variable: DPD_30_6M
DPD_30_6M
0    70.953085
1    28.723928
2     0.218974
.     0.104013
Name: proportion, dtype: float64

Variable: DPD_60_6M
DPD_60_6M
0    75.880002
1    23.775114
2     0.240872
.     0.104013
Name: proportion, dtype: float64

Variable: Months_on_book
Months_on_book
< 6      52.137735
> = 6    47.451689
< 6       0.410576
Name: proportion, dtype: float64

Variable: Occupation_Partner
Occupation_Partner
fixed        49.362238
freelance    25.444791
partime      19.696721
others        5.496250
Name: proportion, dtype: float64

In [10]:
# check how many "." dot values are there in each column 
#and this "." could be present becoz missing values were not recorded properly otheriwse it would have occured 
#when we checked for null values in each column

for col in data.columns:
    dot_count=(data[col]==".").sum()
    if dot_count>0:
         print(f"column: {col} --> {dot_count} occurance of '.' ")

column: DPD_30_6M --> 19 occurance of '.'
column: DPD_60_6M --> 19 occurance of '.'

In [11]:
for col in data.columns:
    if (data[col]==".").any(): #.any(): Python checks the whole list. If there is even one single True in the entire column, the whole expression becomes True
             print(f"nUnique values in {col}:")
             print(data[col].value_counts(dropna=False))

nUnique values in DPD_30_6M:
DPD_30_6M
0    12961
1     5247
2       40
.       19
Name: count, dtype: int64
nUnique values in DPD_60_6M:
DPD_60_6M
0    13861
1     4343
2       44
.       19
Name: count, dtype: int64

In [12]:
data.replace(".",np.nan,inplace=True) # replace all occurance of "." with nan

In [13]:
missing_summary=data.isnull().sum()
print(missing_summary)

Cust_id                      0
Age                          0
Income_group                 0
Existing_Customer            0
Occupation_type              0
Education_Qualification      0
Dependents                   0
Marital_Status               0
Gender                       0
Debt_Burden_Ratio            0
Years_at_current_address     0
Credit_Amount                0
Housing_1_Own_2_Rent         0
Employed_since_yrs           0
Location                     0
DPD_30_6M                   19
DPD_60_6M                   19
Months_on_book               0
Default_Flag                 0
Occupation_Partner           0
Job_Seniority                0
Assets                       0
Savings                      0
dtype: int64

In [43]:
df_clean=data.dropna()

In [44]:
print("Any '.' left?",(df_clean==".").any().any())
print("Any Nan left?", df_clean.isnull().any().any())

Any '.' left? True
Any Nan left? False

In [45]:
df_clean

,Cust_id,Age,Income_group,Existing_Customer,Occupation_type,Education_Qualification,Dependents,Marital_Status,Gender,Debt_Burden_Ratio,...,Employed_since_yrs,Location,DPD_30_6M,DPD_60_6M,Months_on_book,Default_Flag,Occupation_Partner,Job_Seniority,Assets,Savings
0,14898,52,<=100000,0,Private,1,1,Single,M,< = 0.10,...,14,North,0,0,> = 6,0,freelance,20,10000,1.600000
1,34986,34,> 100000,0,Govt,1,1,Married,F,< = 0.10,...,11,Central,0,0,> = 6,0,freelance,5,1,7.662857
2,74167,37,<=100000,0,Govt,2,0,Single,M,< = 0.10,...,10,North,0,0,< 6,0,fixed,1,7700,6.624000
3,80278,43,< = 50000,0,Private,4,0,Single,M,< = 0.50,...,6,South,1,1,< 6,1,fixed,2,55,8.307692
4,2442,35,< = 50000,0,Private,3,1,Married,F,< = 0.10,...,8,South,0,0,> = 6,0,partime,0,0,0.675000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18262,35788,40,<=100000,0,Private,3,1,Single,M,< = 0.10,...,7,Central,0,0,> = 6,0,freelance,3,6000,2.589474
18263,85264,42,< = 50000,0,Govt,1,2,Married,F,< = 0.10,...,6,South,0,0,> = 6,0,fixed,14,4000,2.742857
18264,1481,43,<=100000,0,Private,1,0,Single,F,< = 0.50,...,7,North,1,1,< 6,1,freelance,0,10000,7.140000
18265,25731,37,< = 50000,0,Govt,4,1,Single,M,< = 0.50,...,9,Central,0,0,> = 6,0,fixed,2,2000,1.158621
18266,94945,39,<=100000,0,Private,2,2,Married,F,< = 0.10,...,7,Central,0,0,< 6,0,fixed,3,14000,2.145455

In [46]:
EPS=1e-6 #EPS stands for Epsilon. It is a tiny number (0.000001) .
#We add this EPS to our calculations later to avoid Division by Zero or log(0) errors, which would crash the code if a bin has zero Bads or zero Goods.

def compute_woe_iv_all(df,target='Default_Flag',bins=10,print_all=True):
    y=df[target].astype(int)
    results={}
    iv_rows={}
    
    for col in df.columns:
        if col==target:
            continue
        
        x=df[col]
        
        if pd.api.types.is_numeric_dtype(x) and x.nunique()>bins:
            try:
                binned_x=pd.qcut(x,q=bins,duplicates='drop')
            except Exception:
                binned_x=x.astype(str)
                
        else:
            binned_x=x.astype(str)
            
            
        d=pd.DataFrame({'Bin':binned_x,'Y':y})
        g=d.groupby('Bin')['Y']
        total=g.size()
        events=g.sum()
        non_events=total-events
        
        if events.sum()==0 or non_events.sum()==0:
            print(f"Skipping {col}: no events or non-events across its group.")
            continue
            
        woe_df=pd.DataFrame({
            'Total':total,
            'Events':events,
            'Non_Events':non_events
        })   
        
        woe_df['Dist_Event']=woe_df['Events']/woe_df['Events'].sum() # Dist_Event means Distribution of Events (i.e Defaults)
        woe_df['Dist_NonEvent']=woe_df['Non_Events']/woe_df['Non_Events'].sum()
        woe_df['WOE']=np.log((woe_df['Dist_NonEvent']+EPS)/(woe_df['Dist_Event']+EPS))
        woe_df['IV']=(woe_df['Dist_NonEvent']-woe_df['Dist_Event'])*woe_df['WOE']
        
        iv_total=woe_df['IV'].sum()
        
        results[col]=woe_df.reset_index().rename(columns={'Bin':col})
        iv_rows[col]=iv_total
        
        if print_all:
            print(f"/n===== {col} ===== ")
            print(results[col])
            print(f"Total IV for  {col} : {iv_total:.4f}")
            
            


#IV summary #
    iv_summary=pd.DataFrame(list(iv_rows.items()),columns=['Variable','IV']).sort_values('IV',ascending=False)
    def interpret(iv):
        if iv<0.02:return 'Not Predictive'
        if iv<0.10:return 'Weak'
        if iv<0.30:return 'Medium'
        if iv<0.50:return 'Strong'
        return 'Suspicious'
    
    iv_summary['Interpretation']=iv_summary['IV'].apply(interpret)
    
    print(iv_summary)
               
    return results,iv_summary
      

woe_tables, iv_summary = compute_woe_iv_all(df_clean, target='Default_Flag', bins=10, print_all=True)

C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']
C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']
C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']
C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']
C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']

/n===== Cust_id =====
              Cust_id  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0     (2.999, 9991.6]   1827     268        1559    0.094200       0.101089
1   (9991.6, 19820.2]   1827     255        1572    0.089631       0.101932
2  (19820.2, 29712.8]   1826     280        1546    0.098418       0.100246
3  (29712.8, 39638.0]   1827     288        1539    0.101230       0.099793
4  (39638.0, 50057.0]   1827     270        1557    0.094903       0.100960
5  (50057.0, 59728.6]   1826     285        1541    0.100176       0.099922
6  (59728.6, 69810.6]   1827     300        1527    0.105448       0.099014
7  (69810.6, 79874.4]   1826     304        1522    0.106854       0.098690
8  (79874.4, 90208.6]   1827     295        1532    0.103691       0.099339
9  (90208.6, 99994.0]   1827     300        1527    0.105448       0.099014

        WOE            IV
0  0.070580  4.862269e-04
1  0.128607  1.582044e-03
2  0.018404  3.364560e-05
3 -0.014304  2.056549e-05
4  0.061862  3.746541e-04
5 -0.002534  6.425951e-07
6 -0.062954  4.050280e-04
7 -0.079478  6.488573e-04
8 -0.042878  1.866066e-04
9 -0.062954  4.050280e-04
Total IV for  Cust_id : 0.0041
/n===== Age =====
              Age  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0  (21.999, 30.0]   2027     509        1518    0.178910       0.098431
1    (30.0, 34.0]   1812     357        1455    0.125483       0.094346
2    (34.0, 37.0]   2168     466        1702    0.163796       0.110362
3    (37.0, 39.0]   1441     274        1167    0.096309       0.075671
4    (39.0, 42.0]   2720     418        2302    0.146924       0.149267
5    (42.0, 43.0]   1152     193         959    0.067838       0.062184
6    (43.0, 45.0]   2396     312        2084    0.109666       0.135132
7    (45.0, 47.0]    976      77         899    0.027065       0.058293
8    (47.0, 51.0]   1820     132        1688    0.046397       0.109454
9    (51.0, 55.0]   1755     107        1648    0.037610       0.106860

        WOE        IV
0 -0.597526  0.048089
1 -0.285204  0.008881
2 -0.394855  0.021099
3 -0.241166  0.004977
4  0.015820  0.000037
5 -0.087030  0.000492
6  0.208808  0.005317
7  0.767226  0.023959
8  0.858253  0.054119
9  1.044240  0.072314
Total IV for  Age : 0.2393
/n===== Income_group =====
  Income_group  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0    < = 15000    593     161         432    0.056591       0.028012
1    < = 25000   1201     278         923    0.097715       0.059850
2    < = 35000   1375     298        1077    0.104745       0.069835
3    < = 50000   2377     479        1898    0.168366       0.123071
4     <=100000   7206    1244        5962    0.437258       0.386591
5     > 100000   5515     385        5130    0.135325       0.332642

        WOE        IV
0 -0.703193  0.020096
1 -0.490217  0.018562
2 -0.405386  0.014152
3 -0.313374  0.014194
4 -0.123158  0.006240
5  0.899381  0.177463
Total IV for  Income_group : 0.2507
/n===== Existing_Customer =====
  Existing_Customer  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0                 0  17760    2825       14935     0.99297       0.968422
1                 1    507      20         487     0.00703       0.031578

        WOE        IV
0 -0.025033  0.000615
1  1.502189  0.036876
Total IV for  Existing_Customer : 0.0375
/n===== Occupation_type =====
  Occupation_type  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0            Govt   6692    1437        5255    0.505097       0.340747
1         Private  10524     950        9574    0.333919       0.620801
2   Self-Employed    966     377         589    0.132513       0.038192
3   Self-employed     81      81           0    0.028471       0.000000
4      Unemployed      4       0           4    0.000000       0.000259

         WOE        IV
0  -0.393609  0.064689
1   0.620111  0.177899
2  -1.244032  0.117338
3 -10.256676  0.292018
4   5.562103  0.001443
Total IV for  Occupation_type : 0.6534
/n===== Education_Qualification =====
  Education_Qualification  Total  Events  Non_Events  Dist_Event  \
0                       1   4537     656        3881    0.230580
1                       2   4647     744        3903    0.261511
2                       3   4543     730        3813    0.256591
3                       4   4540     715        3825    0.251318

   Dist_NonEvent       WOE        IV
0       0.251653  0.087455  0.001843
1       0.253080 -0.032772  0.000276
2       0.247244 -0.037105  0.000347
3       0.248022 -0.013201  0.000044
Total IV for  Education_Qualification : 0.0025
/n===== Dependents =====
  Dependents  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0          0   6084    1268        4816    0.445694       0.312281 -0.355728
1          1   9378    1219        8159    0.428471       0.529049  0.210858
2          2   2794     347        2447    0.121968       0.158669  0.263059
3          3     11      11           0    0.003866       0.000000 -8.260346

         IV
0  0.047459
1  0.021208
2  0.009655
3  0.031938
Total IV for  Dependents : 0.1103
/n===== Marital_Status =====
  Marital_Status  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0        Married   9473    1209        8264    0.424956       0.535858
1      Seperated     17      16           1    0.005624       0.000065
2         Single   8777    1620        7157    0.569420       0.464077

        WOE        IV
0  0.231883  0.025716
1 -4.447694  0.024725
2 -0.204567  0.021550
Total IV for  Marital_Status : 0.0720
/n===== Gender =====
  Gender  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0      F   9241    1286        7955    0.452021       0.515822  0.132032
1      M   9026    1559        7467    0.547979       0.484178 -0.123783

         IV
0  0.008424
1  0.007897
Total IV for  Gender : 0.0163
/n===== Debt_Burden_Ratio =====
  Debt_Burden_Ratio  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0          < = 0.10  10809     134       10675    0.047100       0.692193
1          < = 0.50   4490    1220        3270    0.428822       0.212035
2            > 0.50   2968    1491        1477    0.524077       0.095772

        WOE        IV
0  2.687568  1.733731
1 -0.704290  0.152682
2 -1.699657  0.727972
Total IV for  Debt_Burden_Ratio : 2.6144
/n===== Years_at_current_address =====
  Years_at_current_address  Total  Events  Non_Events  Dist_Event  \
0            (-0.001, 2.0]   2114     334        1780    0.117399
1               (2.0, 5.0]   2224     325        1899    0.114236
2               (5.0, 6.0]   1284     204        1080    0.071705
3               (6.0, 8.0]   2635     405        2230    0.142355
4               (8.0, 9.0]   1327     204        1123    0.071705
5              (9.0, 11.0]   2876     456        2420    0.160281
6             (11.0, 12.0]   1592     241        1351    0.084710
7             (12.0, 13.0]   1376     247        1129    0.086819
8             (13.0, 14.0]   1411     204        1207    0.071705
9             (14.0, 15.0]   1428     225        1203    0.079086

   Dist_NonEvent       WOE        IV
0       0.115420 -0.017004  0.000034
1       0.123136  0.075025  0.000668
2       0.070030 -0.023635  0.000040
3       0.144599  0.015638  0.000035
4       0.072818  0.015407  0.000017
5       0.156919 -0.021202  0.000071
6       0.087602  0.033571  0.000097
7       0.073207 -0.170531  0.002321
8       0.078265  0.087540  0.000574
9       0.078005 -0.013759  0.000015
Total IV for  Years_at_current_address : 0.0039
/n===== Credit_Amount =====
          Credit_Amount  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0  (50000.999, 75605.6]   1827     292        1535    0.102636       0.099533
1   (75605.6, 101356.4]   1827     288        1539    0.101230       0.099793
2  (101356.4, 126323.0]   1827     283        1544    0.099473       0.100117
3  (126323.0, 151285.6]   1826     258        1568    0.090685       0.101673
4  (151285.6, 176472.0]   1829     298        1531    0.104745       0.099274
5  (176472.0, 201283.0]   1825     301        1524    0.105800       0.098820
6  (201283.0, 226590.0]   1827     268        1559    0.094200       0.101089
7  (226590.0, 251031.0]   1826     292        1534    0.102636       0.099468
8  (251031.0, 275641.0]   1827     294        1533    0.103339       0.099403
9  (275641.0, 299990.0]   1826     271        1555    0.095255       0.100830

        WOE        IV
0 -0.030700  0.000095
1 -0.014304  0.000021
2  0.006453  0.000004
3  0.114363  0.001257
4 -0.053649  0.000294
5 -0.068248  0.000476
6  0.070580  0.000486
7 -0.031352  0.000099
8 -0.038829  0.000153
9  0.056879  0.000317
Total IV for  Credit_Amount : 0.0032
/n===== Housing_1_Own_2_Rent =====
  Housing_1_Own_2_Rent  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0                    1   8525     874        7651    0.307206       0.496109
1                    2   9742    1971        7771    0.692794       0.503891

        WOE        IV
0  0.479278  0.090537
1 -0.318374  0.060142
Total IV for  Housing_1_Own_2_Rent : 0.1507
/n===== Employed_since_yrs =====
  Employed_since_yrs  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0       (0.999, 4.0]   1947     460        1487    0.161687       0.096421
1         (4.0, 6.0]   1731     399        1332    0.140246       0.086370
2         (6.0, 7.0]   1857     306        1551    0.107557       0.100571
3         (7.0, 8.0]   1879     325        1554    0.114236       0.100765
4         (8.0, 9.0]   1901     355        1546    0.124780       0.100246
5        (9.0, 10.0]   1996     406        1590    0.142707       0.103099
6       (10.0, 13.0]   2084     201        1883    0.070650       0.122098
7       (13.0, 15.0]   1434     118        1316    0.041476       0.085333
8       (15.0, 18.0]   2075     154        1921    0.054130       0.124562
9       (18.0, 20.0]   1363     121        1242    0.042531       0.080534

        WOE        IV
0 -0.516938  0.033739
1 -0.484752  0.026116
2 -0.067161  0.000469
3 -0.125468  0.001690
4 -0.218922  0.005371
5 -0.325093  0.012876
6  0.547079  0.028146
7  0.721423  0.031639
8  0.833406  0.058699
9  0.638445  0.024263
Total IV for  Employed_since_yrs : 0.2230
/n===== Location =====
  Location  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0  Central   5870     909        4961    0.319508       0.321683  0.006786
1    North   6398     962        5436    0.338137       0.352483  0.041552
2    South   5999     974        5025    0.342355       0.325833 -0.049462

         IV
0  0.000015
1  0.000596
2  0.000817
Total IV for  Location : 0.0014
/n===== DPD_30_6M =====
  DPD_30_6M  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0         .     19       3          16    0.001054       0.001037 -0.016240
1         0  12961     160       12801    0.056239       0.830048  2.691856
2         1   5247    2667        2580    0.937434       0.167293 -1.723392
3         2     40      15          25    0.005272       0.001621 -1.178979

             IV
0  2.761231e-07
1  2.082982e+00
2  1.327254e+00
3  4.304863e-03
Total IV for  DPD_30_6M : 3.4145
/n===== DPD_60_6M =====
  DPD_60_6M  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0         .     19       3          16    0.001054       0.001037 -0.016240
1         0  13861     422       13439    0.148330       0.871417  1.770673
2         1   4343    2401        1942    0.843937       0.125924 -1.902392
3         2     44      19          25    0.006678       0.001621 -1.415328

             IV
0  2.761231e-07
1  1.280351e+00
2  1.365942e+00
3  7.157771e-03
Total IV for  DPD_60_6M : 2.6535
/n===== Months_on_book =====
  Months_on_book  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0            < 6   9524    1474        8050    0.518102       0.521982
1           < 6      75       7          68    0.002460       0.004409
2          > = 6   8668    1364        7304    0.479438       0.473609

        WOE        IV
0  0.007460  0.000029
1  0.583186  0.001137
2 -0.012231  0.000071
Total IV for  Months_on_book : 0.0012
/n===== Occupation_Partner =====
  Occupation_Partner  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0              fixed   9017    1974        7043    0.693849       0.456685
1          freelance   4648     587        4061    0.206327       0.263325
2             others   1004      96         908    0.033743       0.058877
3            partime   3598     188        3410    0.066081       0.221113

        WOE        IV
0 -0.418259  0.099196
1  0.243927  0.013903
2  0.556652  0.013991
3  1.207783  0.187245
Total IV for  Occupation_Partner : 0.3143
/n===== Job_Seniority =====
   Job_Seniority  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0  (-0.001, 1.0]   6816     480        6336    0.168717       0.410842
1     (1.0, 2.0]   2336     217        2119    0.076274       0.137401
2     (2.0, 4.0]   2360     398        1962    0.139895       0.127221
3     (4.0, 6.0]   1772     321        1451    0.112830       0.094086
4    (6.0, 10.0]   1949     451        1498    0.158524       0.097134
5   (10.0, 14.0]   1236     342         894    0.120211       0.057969
6   (14.0, 48.0]   1798     636        1162    0.223550       0.075347

        WOE        IV
0  0.889981  0.215486
1  0.588564  0.035977
2 -0.094964  0.001204
3 -0.181663  0.003405
4 -0.489809  0.030069
5 -0.729328  0.045395
6 -1.087524  0.161174
Total IV for  Job_Seniority : 0.4927
/n===== Assets =====
               Assets  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0    (-0.001, 1000.0]   9182     876        8306    0.307909       0.538581
1    (1000.0, 3000.0]   2243     342        1901    0.120211       0.123265
2    (3000.0, 4000.0]   1827     391        1436    0.137434       0.093114
3    (4000.0, 6000.0]   1848     477        1371    0.167663       0.088899
4    (6000.0, 9000.0]   1366     282        1084    0.099121       0.070289
5  (9000.0, 250000.0]   1801     477        1324    0.167663       0.085851

        WOE        IV
0  0.559134  0.128977
1  0.025092  0.000077
2 -0.389319  0.017255
3 -0.634448  0.049971
4 -0.343722  0.009910
5 -0.669330  0.054759
Total IV for  Assets : 0.2609
/n===== Savings =====
                         Savings  Total  Events  Non_Events  Dist_Event  \
0  (-7.2490000000000006, -0.212]   1829      77        1752    0.027065
1                 (-0.212, 0.66]   1831     198        1633    0.069596
2                  (0.66, 1.267]   1833     199        1634    0.069947
3                 (1.267, 1.824]   1817     198        1619    0.069596
4                 (1.824, 2.357]   1824     259        1565    0.091037
5                   (2.357, 3.0]   1891     369        1522    0.129701
6                   (3.0, 3.778]   1772     306        1466    0.107557
7                 (3.778, 4.929]   1824     367        1457    0.128998
8                 (4.929, 6.776]   1821     383        1438    0.134622
9                  (6.776, 30.6]   1825     489        1336    0.171880

   Dist_NonEvent       WOE        IV
0       0.113604  1.434448  0.124136
1       0.105888  0.419670  0.015231
2       0.105953  0.415245  0.014951
3       0.104980  0.411060  0.014545
4       0.101478  0.108580  0.001134
5       0.098690 -0.273246  0.008474
6       0.095059 -0.123523  0.001544
7       0.094475 -0.311456  0.010752
8       0.093243 -0.367255  0.015197
9       0.086629 -0.685153  0.058410
Total IV for  Savings : 0.2644
                    Variable        IV  Interpretation
15                 DPD_30_6M  3.414542      Suspicious
16                 DPD_60_6M  2.653451      Suspicious
9          Debt_Burden_Ratio  2.614384      Suspicious
4            Occupation_type  0.653387      Suspicious
19             Job_Seniority  0.492710          Strong
18        Occupation_Partner  0.314335          Strong
21                   Savings  0.264372          Medium
20                    Assets  0.260949          Medium
2               Income_group  0.250708          Medium
1                        Age  0.239284          Medium
13        Employed_since_yrs  0.223008          Medium
12      Housing_1_Own_2_Rent  0.150679          Medium
6                 Dependents  0.110259          Medium
7             Marital_Status  0.071991            Weak
3          Existing_Customer  0.037491            Weak
8                     Gender  0.016321  Not Predictive
0                    Cust_id  0.004143  Not Predictive
10  Years_at_current_address  0.003872  Not Predictive
11             Credit_Amount  0.003202  Not Predictive
5    Education_Qualification  0.002510  Not Predictive
14                  Location  0.001428  Not Predictive
17            Months_on_book  0.001237  Not Predictive

C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']
C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']
C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1596905452.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g=d.groupby('Bin')['Y']

/n===== Assets =====
               Assets  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0    (-0.001, 1000.0]   9182     876        8306    0.307909       0.538581
1    (1000.0, 3000.0]   2243     342        1901    0.120211       0.123265
2    (3000.0, 4000.0]   1827     391        1436    0.137434       0.093114
3    (4000.0, 6000.0]   1848     477        1371    0.167663       0.088899
4    (6000.0, 9000.0]   1366     282        1084    0.099121       0.070289
5  (9000.0, 250000.0]   1801     477        1324    0.167663       0.085851

        WOE        IV
0  0.559134  0.128977
1  0.025092  0.000077
2 -0.389319  0.017255
3 -0.634448  0.049971
4 -0.343722  0.009910
5 -0.669330  0.054759
Total IV for  Assets : 0.2609
/n===== Savings =====
                         Savings  Total  Events  Non_Events  Dist_Event  \
0  (-7.2490000000000006, -0.212]   1829      77        1752    0.027065
1                 (-0.212, 0.66]   1831     198        1633    0.069596
2                  (0.66, 1.267]   1833     199        1634    0.069947
3                 (1.267, 1.824]   1817     198        1619    0.069596
4                 (1.824, 2.357]   1824     259        1565    0.091037
5                   (2.357, 3.0]   1891     369        1522    0.129701
6                   (3.0, 3.778]   1772     306        1466    0.107557
7                 (3.778, 4.929]   1824     367        1457    0.128998
8                 (4.929, 6.776]   1821     383        1438    0.134622
9                  (6.776, 30.6]   1825     489        1336    0.171880

   Dist_NonEvent       WOE        IV
0       0.113604  1.434448  0.124136
1       0.105888  0.419670  0.015231
2       0.105953  0.415245  0.014951
3       0.104980  0.411060  0.014545
4       0.101478  0.108580  0.001134
5       0.098690 -0.273246  0.008474
6       0.095059 -0.123523  0.001544
7       0.094475 -0.311456  0.010752
8       0.093243 -0.367255  0.015197
9       0.086629 -0.685153  0.058410
Total IV for  Savings : 0.2644
                    Variable        IV  Interpretation
15                 DPD_30_6M  3.414542      Suspicious
16                 DPD_60_6M  2.653451      Suspicious
9          Debt_Burden_Ratio  2.614384      Suspicious
4            Occupation_type  0.653387      Suspicious
19             Job_Seniority  0.492710          Strong
18        Occupation_Partner  0.314335          Strong
21                   Savings  0.264372          Medium
20                    Assets  0.260949          Medium
2               Income_group  0.250708          Medium
1                        Age  0.239284          Medium
13        Employed_since_yrs  0.223008          Medium
12      Housing_1_Own_2_Rent  0.150679          Medium
6                 Dependents  0.110259          Medium
7             Marital_Status  0.071991            Weak
3          Existing_Customer  0.037491            Weak
8                     Gender  0.016321  Not Predictive
0                    Cust_id  0.004143  Not Predictive
10  Years_at_current_address  0.003872  Not Predictive
11             Credit_Amount  0.003202  Not Predictive
5    Education_Qualification  0.002510  Not Predictive
14                  Location  0.001428  Not Predictive
17            Months_on_book  0.001237  Not Predictive

In [47]:
import pandas as pd
import numpy as np
## Age

df_clean['Age_bin']=np.select([df_clean['Age']<25,
                              (df_clean['Age']>=25) & (df_clean['Age']<=40),
                               df_clean['Age']>40 ],
                              ['High Risk (<25)', 'Medium Risk (25-40)', 'Low Risk (>40)'],default='Others'
                             )


##Income_Group
def bin_income(x):
    x=str(x).replace(" ","").lower()
    if x in ['<=15000','<=25000','<=35000']:
        return 'High Risk (<=35k)'
    elif x in ['<=50000','<=100000']:
        return 'Medium Risk (36k-100k)'
    elif x in ['>100000','>100k']:
        return 'Low Risk (>100k)'
    else:
        return 'Other'
    
df_clean['Income_bin']=df_clean['Income_group'].apply(bin_income)

## Occupation_Type

def bin_occ(x):
    x=str(x).strip().lower()
    if x in ['unemployed']:
        return 'High Risk (Unemployed)'
    elif x in ['private']:
        return 'Medium Risk (Private)'
    elif x in ['govt','self employed','self_employed','self-employed']:
        return 'Low Risk (govt/self employed)'
    else:
        return 'Other'
    
df_clean['Occ_bin']=df_clean['Occupation_type'].apply(bin_occ)

## Marital status

def bin_marital(x):
    x = str(x).strip().lower()
    if x == 'single':
        return 'High Risk (Single)'
    elif x in ['married', 'separated', 'seperated']:
        return 'Low Risk (Married/Separated)'
    else:
        return 'Other'

df_clean['Marital_bin'] = df_clean['Marital_Status'].apply(bin_marital)

## Housing Rent

df_clean['Housing_bin'] = df_clean['Housing_1_Own_2_Rent'].map({
    1: 'Low Risk (Own)',
    2: 'High Risk (Rent)'
})

##Employed_since_yrs

df_clean['EmpTenure_bin'] = np.select(
    [
        df_clean['Employed_since_yrs'] <= 3,
        (df_clean['Employed_since_yrs'] > 3) & (df_clean['Employed_since_yrs'] <= 10),
        df_clean['Employed_since_yrs'] > 10
    ],
    ['High Risk (<=3 yrs)', 'Medium Risk (4-10 yrs)', 'Low Risk (>10 yrs)'],
    default='Other'
)
    

## Occupation_Partner

def bin_occ_partner(x):
    x = str(x).strip().lower()
    if x in ['freelance', 'others']:
        return 'High Risk (Freelance/Others)'
    elif x == 'partime':
        return 'Medium Risk (Part-time)'
    elif x == 'fixed':
        return 'Low Risk (Fixed)'
    else:
        return 'Other'

df_clean['OccPartner_bin'] = df_clean['Occupation_Partner'].apply(bin_occ_partner) 


print(df_clean[['Age_bin','Income_bin','Occ_bin','Marital_bin',
                'Housing_bin','EmpTenure_bin','OccPartner_bin']].head(15))

                Age_bin              Income_bin  \
0        Low Risk (>40)  Medium Risk (36k-100k)
1   Medium Risk (25-40)        Low Risk (>100k)
2   Medium Risk (25-40)  Medium Risk (36k-100k)
3        Low Risk (>40)  Medium Risk (36k-100k)
4   Medium Risk (25-40)  Medium Risk (36k-100k)
5        Low Risk (>40)        Low Risk (>100k)
6   Medium Risk (25-40)  Medium Risk (36k-100k)
7        Low Risk (>40)        Low Risk (>100k)
8        Low Risk (>40)        Low Risk (>100k)
9        Low Risk (>40)  Medium Risk (36k-100k)
10       Low Risk (>40)  Medium Risk (36k-100k)
11       Low Risk (>40)        Low Risk (>100k)
12  Medium Risk (25-40)  Medium Risk (36k-100k)
13  Medium Risk (25-40)  Medium Risk (36k-100k)
14       Low Risk (>40)  Medium Risk (36k-100k)

                          Occ_bin                   Marital_bin  \
0           Medium Risk (Private)            High Risk (Single)
1   Low Risk (govt/self employed)  Low Risk (Married/Separated)
2   Low Risk (govt/self employed)            High Risk (Single)
3           Medium Risk (Private)            High Risk (Single)
4           Medium Risk (Private)  Low Risk (Married/Separated)
5   Low Risk (govt/self employed)            High Risk (Single)
6           Medium Risk (Private)  Low Risk (Married/Separated)
7   Low Risk (govt/self employed)            High Risk (Single)
8           Medium Risk (Private)            High Risk (Single)
9   Low Risk (govt/self employed)  Low Risk (Married/Separated)
10          Medium Risk (Private)  Low Risk (Married/Separated)
11          Medium Risk (Private)            High Risk (Single)
12          Medium Risk (Private)  Low Risk (Married/Separated)
13          Medium Risk (Private)  Low Risk (Married/Separated)
14  Low Risk (govt/self employed)            High Risk (Single)

         Housing_bin           EmpTenure_bin                OccPartner_bin
0     Low Risk (Own)      Low Risk (>10 yrs)  High Risk (Freelance/Others)
1   High Risk (Rent)      Low Risk (>10 yrs)  High Risk (Freelance/Others)
2   High Risk (Rent)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
3   High Risk (Rent)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
4   High Risk (Rent)  Medium Risk (4-10 yrs)       Medium Risk (Part-time)
5     Low Risk (Own)      Low Risk (>10 yrs)       Medium Risk (Part-time)
6     Low Risk (Own)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
7   High Risk (Rent)      Low Risk (>10 yrs)  High Risk (Freelance/Others)
8     Low Risk (Own)      Low Risk (>10 yrs)       Medium Risk (Part-time)
9   High Risk (Rent)      Low Risk (>10 yrs)              Low Risk (Fixed)
10    Low Risk (Own)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
11    Low Risk (Own)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
12    Low Risk (Own)  Medium Risk (4-10 yrs)       Medium Risk (Part-time)
13  High Risk (Rent)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
14    Low Risk (Own)      Low Risk (>10 yrs)  High Risk (Freelance/Others)

In [48]:
import pandas as pd
import numpy as np

target='Default_Flag'

coarse_vars=['Age_bin','Income_bin','Occ_bin','Marital_bin',
                'Housing_bin','EmpTenure_bin','OccPartner_bin']

def calc_woe_iv(df,feature,target):
    grouped=df.groupby(feature)[target].agg(['count','sum'])
    grouped.rename(columns={'count':'Total','sum':'Events'},inplace=True)
    grouped['Non_Events']=grouped['Total']-grouped['Events']

    grouped['Dist_Event']=grouped['Events']/grouped['Events'].sum()
    grouped['Dist_NonEvent']=grouped['Non_Events']/grouped['Non_Events'].sum()


    eps=1e-6 #EPS stands for Epsilon. It is a tiny number (0.000001) .
    #We add this EPS to our calculations later to avoid Division by Zero or log(0) errors, which would crash the code if a bin has zero Bads or zero Goods.

    grouped['WOE']=np.log( (grouped['Dist_NonEvent'] +eps)/(grouped['Dist_Event'] + eps))
    
    grouped['IV']=(grouped['Dist_NonEvent']-grouped['Dist_Event'])*grouped['WOE']
    grouped['IV']=grouped['IV'].round(6)
    
    total_iv=grouped['IV'].sum().round(4)
    
    return grouped.reset_index(),total_iv

iv_summary=[]

for  var in coarse_vars:
    table,total_iv=calc_woe_iv(df_clean,var,target)
    print(f"\n========")
    print(f"WOE/IV table for {var}")
    print(table)
    print(f"Total IV for {var}: {total_iv}")
    iv_summary.append({'Variable':var,'IV':total_iv})



iv_summary_df=pd.DataFrame(iv_summary)
print(iv_summary_df)

========
WOE/IV table for Age_bin
               Age_bin  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0      High Risk (<25)    686     200         486    0.070299       0.031513
1       Low Risk (>40)  10008    1109        8899    0.389807       0.577033
2  Medium Risk (25-40)   7573    1536        6037    0.539895       0.391454

        WOE        IV
0 -0.802323  0.031118
1  0.392247  0.073439
2 -0.321506  0.047725
Total IV for Age_bin: 0.1523

========
WOE/IV table for Income_bin
               Income_bin  Total  Events  Non_Events  Dist_Event  \
0       High Risk (<=35k)   3169     737        2432    0.259051
1        Low Risk (>100k)   5515     385        5130    0.135325
2  Medium Risk (36k-100k)   9583    1723        7860    0.605624

   Dist_NonEvent       WOE        IV
0       0.157697 -0.496348  0.050307
1       0.332642  0.899381  0.177463
2       0.509662 -0.172512  0.016555
Total IV for Income_bin: 0.2443

========
WOE/IV table for Occ_bin
                         Occ_bin  Total  Events  Non_Events  Dist_Event  \
0         High Risk (Unemployed)      4       0           4    0.000000
1  Low Risk (govt/self employed)   7739    1895        5844    0.666081
2          Medium Risk (Private)  10524     950        9574    0.333919

   Dist_NonEvent       WOE        IV
0       0.000259  5.562103  0.001443
1       0.378939 -0.564034  0.161958
2       0.620801  0.620111  0.177899
Total IV for Occ_bin: 0.3413

========
WOE/IV table for Marital_bin
                    Marital_bin  Total  Events  Non_Events  Dist_Event  \
0            High Risk (Single)   8777    1620        7157     0.56942
1  Low Risk (Married/Separated)   9490    1225        8265     0.43058

   Dist_NonEvent       WOE        IV
0       0.464077 -0.204567  0.021550
1       0.535923  0.218856  0.023055
Total IV for Marital_bin: 0.0446

========
WOE/IV table for Housing_bin
        Housing_bin  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0  High Risk (Rent)   9742    1971        7771    0.692794       0.503891
1    Low Risk (Own)   8525     874        7651    0.307206       0.496109

        WOE        IV
0 -0.318374  0.060142
1  0.479278  0.090537
Total IV for Housing_bin: 0.1507

========
WOE/IV table for EmpTenure_bin
            EmpTenure_bin  Total  Events  Non_Events  Dist_Event  \
0     High Risk (<=3 yrs)   1467     363        1104    0.127592
1      Low Risk (>10 yrs)   6956     594        6362    0.208787
2  Medium Risk (4-10 yrs)   9844    1888        7956    0.663620

   Dist_NonEvent       WOE        IV
0       0.071586 -0.577933  0.032368
1       0.412528  0.680984  0.138744
2       0.515886 -0.251823  0.037203
Total IV for EmpTenure_bin: 0.2083

========
WOE/IV table for OccPartner_bin
                 OccPartner_bin  Total  Events  Non_Events  Dist_Event  \
0  High Risk (Freelance/Others)   5652     683        4969    0.240070
1              Low Risk (Fixed)   9017    1974        7043    0.693849
2       Medium Risk (Part-time)   3598     188        3410    0.066081

   Dist_NonEvent       WOE        IV
0       0.322202  0.294246  0.024167
1       0.456685 -0.418259  0.099196
2       0.221113  1.207783  0.187245
Total IV for OccPartner_bin: 0.3106
         Variable      IV
0         Age_bin  0.1523
1      Income_bin  0.2443
2         Occ_bin  0.3413
3     Marital_bin  0.0446
4     Housing_bin  0.1507
5   EmpTenure_bin  0.2083
6  OccPartner_bin  0.3106

In [22]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor



def calc_woe_iv(df,feature,target):
    temp=df.groupby(feature)[target].agg(['count','sum'])
    temp['non_event']=temp['count']-temp['sum']
    temp['event_dist']=temp['sum']/temp['sum'].sum()
    temp['non_event_dist']=temp['non_event']/temp['non_event'].sum()
    eps=1e-6 #EPS stands for Epsilon. It is a tiny number (0.000001) .
    #We add this EPS to our calculations later to avoid Division by Zero or log(0) errors, which would crash the code if a bin has zero Bads or zero Goods.
    temp['WOE']=np.log((temp['non_event_dist']+eps)/(temp['event_dist']+eps))
    mapping=temp['WOE'].to_dict()
    return mapping

coarse_vars=['Age_bin','Income_bin','Occ_bin','Marital_bin',
                'Housing_bin','EmpTenure_bin','OccPartner_bin']

df_woe=df_clean.copy()
for var in coarse_vars:
    woe_map=calc_woe_iv(df_clean,var,'Default_Flag')
    df_woe[var+'_WOE']=df_clean[var].map(woe_map)
    
woe_cols=[v + '_WOE' for v in coarse_vars]
X=df_woe[woe_cols]

X_const = sm.add_constant(X) # this constant is 1 and it represents Intercept (alpha) in regression model ##
                             # This constant refers to value of dependent variable when all independent variables are zero
vif_data=pd.DataFrame()
vif_data['feature']=X_const.columns
vif_data['VIF']=[variance_inflation_factor(X_const.values,i) for i in range(X_const.shape[1])]

vif_data = vif_data[vif_data['feature'] != 'const'] ## VIF is designed for predictors and The intercept is not a predictor
                                                    ## so intercept's VIF has no modelling interpretation, we ignore it and drop it from the VIF table
print(vif_data)

## we will drop variable EmpTenure_bin_WOE  becoz its VIF >2

              feature       VIF
1         Age_bin_WOE  1.761236
2      Income_bin_WOE  1.568748
3         Occ_bin_WOE  1.021914
4     Marital_bin_WOE  1.007146
5     Housing_bin_WOE  1.002648
6   EmpTenure_bin_WOE  2.061488
7  OccPartner_bin_WOE  1.003201

In [23]:
import pandas as pd
import statsmodels.api as sm


woe_vars=['Age_bin_WOE','Income_bin_WOE','Occ_bin_WOE','Marital_bin_WOE',
                'Housing_bin_WOE','OccPartner_bin_WOE']

df_model=df_woe[woe_vars + ['Default_Flag']].copy()

print("Shape of modeling dataset:", df_model.shape)
print(df_model.head())

X=df_model[woe_vars]
y=df_model['Default_Flag']


X=sm.add_constant(X) # this constant is 1 and it represents Intercept (alpha) in regression model. #
                    # This constant refers to value of dependent variable when all independent variables are zero ##

logit_model=sm.Logit(y,X)
result=logit_model.fit()
## Statsmodels Logit reports McFadden’s Pseudo R² . So there are 3 types of Pseudo R² : McFadden , Cox & Snell and Nagelkerke.x

print(result.summary())

Shape of modeling dataset: (18248, 7)
   Age_bin_WOE  Income_bin_WOE  Occ_bin_WOE  Marital_bin_WOE  Housing_bin_WOE  \
0     0.393815       -0.173293     0.619154        -0.204408         0.477953
1    -0.322517        0.905626    -0.563665         0.218355        -0.317640
2    -0.322517       -0.173293    -0.563665        -0.204408        -0.317640
3     0.393815       -0.173293     0.619154        -0.204408        -0.317640
4    -0.322517       -0.173293     0.619154         0.218355        -0.317640

   OccPartner_bin_WOE  Default_Flag
0            0.293826             0
1            0.293826             0
2           -0.418318             0
3           -0.418318             1
4            1.206886             0
Optimization terminated successfully.
         Current function value: 0.368779
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:           Default_Flag   No. Observations:                18248
Model:                          Logit   Df Residuals:                    18241
Method:                           MLE   Df Model:                            6
Date:                Sat, 28 Feb 2026   Pseudo R-squ.:                  0.1474
Time:                        09:09:16   Log-Likelihood:                -6729.5
converged:                       True   LL-Null:                       -7893.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                 -1.6859      0.023    -72.899      0.000      -1.731      -1.641
Age_bin_WOE           -0.3984      0.063     -6.328      0.000      -0.522      -0.275
Income_bin_WOE        -0.7327      0.054    -13.638      0.000      -0.838      -0.627
Occ_bin_WOE           -0.9226      0.038    -24.154      0.000      -0.997      -0.848
Marital_bin_WOE       -1.0887      0.105    -10.398      0.000      -1.294      -0.884
Housing_bin_WOE       -0.9782      0.058    -16.850      0.000      -1.092      -0.864
OccPartner_bin_WOE    -0.9968      0.044    -22.642      0.000      -1.083      -0.910
======================================================================================

In [24]:
import pandas as pd
import numpy as np

df_model['pred_prob']=result.predict(sm.add_constant(df_model[woe_vars]))

default=df_model[df_model['Default_Flag']==1]['pred_prob']
nondefault=df_model[df_model['Default_Flag']==0]['pred_prob']

concordant=0
discordant=0
ties=0

for i in default:
    for j in nondefault:
        if i>j:
            concordant+=1
        elif i<j:
            discordant+=1
        else:
            ties+=1
            
total_pairs=concordant+discordant+ties


concordance_perc=round((concordant/total_pairs)*100,2)
discordance_perc=round((discordant/total_pairs)*100,2)
ties_perc=round((ties/total_pairs)*100,2)

print("Concordant pair:",concordant)
print("Discordant pair:",discordant)
print("Ties pair:",ties)
print("Total pair:",total_pairs)

print("\n concordance (%):",concordance_perc)
print("\n discordance (%):",discordance_perc)
print("\n ties (%):",ties_perc)

Concordant pair: 33396231
Discordant pair: 9957612
Ties pair: 430009
Total pair: 43783852

 concordance (%): 76.28

 discordance (%): 22.74

 ties (%): 0.98

In [25]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score

y_true=df_model['Default_Flag']
y_pred_prob=df_model['pred_prob']

c_statistics=roc_auc_score(y_true,y_pred_prob)

somers_d=2 *c_statistics - 1

print("C-Statistics (AUC):",round(c_statistics,4))
print("Somer's D:",round(somers_d,4))



df_rank=df_model[['Default_Flag','pred_prob']].copy()
df_rank = df_rank.sort_values(by='pred_prob', ascending=False).reset_index(drop=True)
df_rank['decile']=pd.qcut(df_rank['pred_prob'],10,labels=False,duplicates='drop')+1

rank_table=df_rank.groupby('decile').agg(
    total_customers=('Default_Flag','count'),
    mean_score=('pred_prob','mean'),
    bad_rate=('Default_Flag','mean')
).reset_index()

rank_table=rank_table.sort_values(by='decile',ascending=True).reset_index(drop=True)
rank_table

C-Statistics (AUC): 0.7677
Somer's D: 0.5353

   decile  total_customers  mean_score  bad_rate
0       1             1831    0.017917  0.014200
1       2             1820    0.036321  0.031319
2       3             1894    0.054756  0.062830
3       4             1768    0.074363  0.084276
4       5             1881    0.100092  0.099415
5       6             1978    0.131922  0.127401
6       7             1686    0.169327  0.170225
7       8             1853    0.222938  0.223961
8       9             1730    0.301893  0.289017
9      10             1807    0.463657  0.470393

In [26]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score,roc_curve

def ks_statistics(y_true,y_pred_prob):
    data=pd.DataFrame({"y_true":y_true,"y_pred_prob":y_pred_prob})
    data=data.sort_values(by="y_pred_prob",ascending=False)
    
    data['cum_bad']=(data['y_true']==1).cumsum()/(data['y_true']==1).sum()
    data['cum_good']=(data['y_true']==0).cumsum()/(data['y_true']==0).sum()
    
    data['ks']=np.abs(data['cum_bad']-data['cum_good'])
    ks_value=data['ks'].max()
    ks_at=data.loc[data['ks'].idxmax(),"y_pred_prob"]
    
    return ks_value,ks_at,data


ks_value,ks_cutoff,ks_table=ks_statistics(y_true,y_pred_prob)
print(f"KS Stats:{ks_value:.4f} at cut_off{ks_cutoff:.4f}")
    
    
    
auc=roc_auc_score(y_true,y_pred_prob)
gini=2*auc-1
print(f"AUC:{auc:.4f}")
print(f"Gini coefficient:{gini:.4f}")

ks_table

pd_threshold = np.percentile(ks_table["y_pred_prob"], 80)
pd_threshold

KS Stats:0.4018 at cut_off0.1641
AUC:0.7677
Gini coefficient:0.5353

np.float64(0.2589449161781219)

In [32]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score

num_bads= df_model['Default_Flag'].sum()
num_goods = len(df_model) - num_bads
base_odds = num_goods / num_bads

print(f"Number of Goods : {num_goods}")
print(f"Number of Bads  : {num_bads}")
print(f"Base Odds (G:B): {base_odds:.2f}")

PDO = 20

B = PDO / np.log(2)
print(f"B (slope parameter): {B:.4f}")

BASE_SCORE = 600

A = BASE_SCORE + B * np.log(base_odds)
print(f"A (offset parameter): {A:.4f}")

df_model['log_odds'] = np.log(
    df_model['pred_prob'] / (1 - df_model['pred_prob'])
)

df_model['credit_score'] = A - B * df_model['log_odds'] #higher log-odds -> higher PD -> higher risk 
                                                       # but banks want higher score=low PD=good borrower, so we subtract
                                                      # this "B * log_odds" to invert the direction .

df_model['credit_score'].describe()

df_model['score_decile'] = pd.qcut(df_model['credit_score'], 10)

score_validation = df_model.groupby('score_decile').agg(
    total_customers=('Default_Flag', 'count'),
    bad_rate=('Default_Flag', 'mean'),
    avg_score=('credit_score', 'mean')
).reset_index()

score_validation

auc_score = roc_auc_score(
    df_model['Default_Flag'],
    df_model['credit_score']
)
print(f"\n score_validation : {score_validation}")
print(f"\n AUC using PD   : {roc_auc_score(df_model['Default_Flag'], df_model['pred_prob']):.4f}")
print(f"\n AUC using Score: {auc_score:.4f}")
# AUC using PD   : 0.7678 but AUC using Score: 0.2322 bcoz we inverted the direction . 
# but this is normal becoz 1-0.7678 = 0.2322 
df_model

Number of Goods : 15406
Number of Bads  : 2842
Base Odds (G:B): 5.42
B (slope parameter): 28.8539
A (offset parameter): 648.7703

 score_validation :          score_decile  total_customers  bad_rate   avg_score
0  (635.256, 666.746]             1846  0.468039  653.314117
1  (666.746, 679.109]             1999  0.277639  674.125856
2  (679.109, 691.591]             1794  0.219064  686.868024
3  (691.591, 700.624]             1885  0.148011  696.585769
4  (700.624, 709.798]             1870  0.135829  705.054955
5  (709.798, 715.878]             1660  0.096988  712.951357
6  (715.878, 725.052]             1722  0.081301  722.150916
7  (725.052, 735.682]             1875  0.060800  731.479298
8  (735.682, 749.223]             1785  0.031373  743.877665
9  (749.223, 888.511]             1812  0.014349  766.621278

 AUC using PD   : 0.7677

 AUC using Score: 0.2323

C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1834843203.py:35: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  score_validation = df_model.groupby('score_decile').agg(

,Age_bin_WOE,Income_bin_WOE,Occ_bin_WOE,Marital_bin_WOE,Housing_bin_WOE,OccPartner_bin_WOE,Default_Flag,pred_prob,decile,log_odds,credit_score,score_decile
0,0.393815,-0.173293,0.619154,-0.204408,0.477953,0.293826,0,0.055993,"(0.0469, 0.0664]",-2.824915,730.280088,"(725.052, 735.682]"
1,-0.322517,0.905626,-0.563665,0.218355,-0.317640,0.293826,0,0.127770,"(0.108, 0.142]",-1.920822,704.193485,"(700.624, 709.798]"
2,-0.322517,-0.173293,-0.563665,-0.204408,-0.317640,-0.418318,0,0.509959,"(0.349, 0.615]",0.039843,647.620659,"(635.256, 666.746]"
3,0.393815,-0.173293,0.619154,-0.204408,-0.317640,-0.418318,1,0.208029,"(0.185, 0.259]",-1.336846,687.343493,"(679.109, 691.591]"
4,-0.322517,-0.173293,0.619154,0.218355,-0.317640,1.206886,0,0.041818,"(0.0298, 0.0469]",-3.131699,739.131998,"(735.682, 749.223]"
...,...,...,...,...,...,...,...,...,...,...,...,...
18262,-0.322517,-0.173293,0.619154,-0.204408,0.477953,0.293826,0,0.073133,"(0.0664, 0.089]",-2.539529,722.045583,"(715.878, 725.052]"
18263,0.393815,-0.173293,-0.563665,0.218355,0.477953,-0.418318,0,0.184816,"(0.142, 0.185]",-1.484051,691.590942,"(679.109, 691.591]"
18264,0.393815,-0.173293,0.619154,-0.204408,0.477953,0.293826,1,0.055993,"(0.0469, 0.0664]",-2.824915,730.280088,"(725.052, 735.682]"
18265,-0.322517,-0.173293,-0.563665,-0.204408,-0.317640,-0.418318,0,0.509959,"(0.349, 0.615]",0.039843,647.620659,"(635.256, 666.746]"
18266,-0.322517,-0.173293,0.619154,0.218355,0.477953,-0.418318,0,0.091957,"(0.089, 0.108]",-2.289967,714.844767,"(709.798, 715.878]"

In [33]:
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix


pd_threshold = np.percentile(ks_table["y_pred_prob"], 80)

y_true=df_model['Default_Flag']
y_pred_prob=df_model['pred_prob']
y_pred_class=(y_pred_prob>0.25).astype(int) # 0.25 is our PD threshold and Customers with y_pred_prob ≤ 0.25 → top 20% safest

accuracy=accuracy_score(y_true,y_pred_class)
accuracy

precision=precision_score(y_true,y_pred_class)

precision

cm=confusion_matrix(y_true,y_pred_class)
cm

array([[12946,  2460],
       [ 1419,  1423]])

In [34]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm

X=df_model[['Age_bin_WOE','Income_bin_WOE','Occ_bin_WOE','Marital_bin_WOE',
                'Housing_bin_WOE','OccPartner_bin_WOE']]

X=sm.add_constant(X)
df_model['pred_prob']=result.predict(X)

df_model['decile']=pd.qcut(df_model['pred_prob'],10,duplicates='drop')

h1_table=(
           df_model.groupby('decile',observed=False)
    .apply(lambda d: pd.Series({
        'total':len(d),
        'observed_1':d['Default_Flag'].sum(),
        'observed_0':(1-d['Default_Flag']).sum(),
        'expected_1':d['pred_prob'].sum(),
        'expected_0':(1-d['pred_prob']).sum()
        
    })
          )
    .reset_index()

)
h1_table['chi_1']=(h1_table['observed_1'] - h1_table['expected_1'])**2/h1_table['expected_1']
h1_table['chi_0']=(h1_table['observed_0'] - h1_table['expected_0'])**2/h1_table['expected_0']

HL_stat=h1_table['chi_1'].sum() + h1_table['chi_0'].sum() #Each decile has an error ;
                                            # so to answer “How bad is the model overall?” Total error = sum of all decile errors


df=h1_table.shape[0] - 2 # degrees of dreedom (g-2 where g=groups=10)
p_value=1-stats.chi2.cdf(HL_stat,df)

print(h1_table[['decile','observed_1','expected_1','observed_0','expected_0']])
print("\nHL Statistics:",round(HL_stat,2))
print("\n Degree of freedom:",df)
print("\np-value:",round(p_value,4))

                decile  observed_1  expected_1  observed_0   expected_0
0  (-0.000754, 0.0298]        26.0   32.806682      1805.0  1798.193318
1     (0.0298, 0.0469]        57.0   66.104000      1763.0  1753.896000
2     (0.0469, 0.0664]       119.0  103.708554      1775.0  1790.291446
3      (0.0664, 0.089]       149.0  131.474039      1619.0  1636.525961
4       (0.089, 0.108]       187.0  188.273019      1694.0  1692.726981
5       (0.108, 0.142]       252.0  260.941363      1726.0  1717.058637
6       (0.142, 0.185]       287.0  285.485152      1399.0  1400.514848
7       (0.185, 0.259]       415.0  413.104078      1438.0  1439.895922
8       (0.259, 0.349]       500.0  522.274882      1230.0  1207.725118
9       (0.349, 0.615]       850.0  837.828232       957.0   969.171768

HL Statistics: 9.72

 Degree of freedom: 8

p-value: 0.2851

C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\3231473126.py:16: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda d: pd.Series({

In [50]:
import pandas as pd
import statsmodels.api as sm

bad_rate_per_decile = df_model.groupby('score_decile')['Default_Flag'].mean().reset_index(name='bad_rate')

bad_rate_per_decile['bad_rate'] = round(bad_rate_per_decile['bad_rate'] * 100, 2)


pred_prob_per_decile=df_model.groupby('score_decile')['pred_prob'].mean().reset_index(name='avg_predicted_probability')

score_per_decile=df_model.groupby('score_decile')['credit_score'].mean().reset_index(name='avg_score')

clustering_check=(df_model.groupby('score_decile').size().reset_index(name='count'))

clustering_check['population_perc']=round((clustering_check['count']/clustering_check['count'].sum())*100,2)

clustering_check = clustering_check.merge(bad_rate_per_decile[['score_decile', 'bad_rate']], on='score_decile', how='left')
clustering_check = clustering_check.merge(pred_prob_per_decile[['score_decile','avg_predicted_probability']],on='score_decile',how='left')
clustering_check = clustering_check.merge(score_per_decile[['score_decile','avg_score']],on='score_decile',how='left')


clustering_check.sort_values(by='score_decile',ascending=True)

C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1257615003.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  bad_rate_per_decile = df_model.groupby('score_decile')['Default_Flag'].mean().reset_index(name='bad_rate')
C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1257615003.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  pred_prob_per_decile=df_model.groupby('score_decile')['pred_prob'].mean().reset_index(name='avg_predicted_probability')
C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1257615003.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  score_per_decile=df_model.groupby('score_decile')['credit_score'].mean().reset_index(name='avg_score')
C:\Users\gheml\AppData\Local\Temp\ipykernel_6396\1257615003.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  clustering_check=(df_model.groupby('score_decile').size().reset_index(name='count'))

,score_decile,count,population_perc,bad_rate,avg_predicted_probability,avg_score
0,"(635.256, 666.746]",1846,10.12,46.80,0.461237,653.314117
1,"(666.746, 679.109]",1999,10.95,27.76,0.294355,674.125856
2,"(679.109, 691.591]",1794,9.83,21.91,0.211465,686.868024
3,"(691.591, 700.624]",1885,10.33,14.80,0.160834,696.585769
4,"(700.624, 709.798]",1870,10.25,13.58,0.125044,705.054955
5,"(709.798, 715.878]",1660,9.10,9.70,0.097751,712.951357
6,"(715.878, 725.052]",1722,9.44,8.13,0.073012,722.150916
7,"(725.052, 735.682]",1875,10.28,6.08,0.054077,731.479298
8,"(735.682, 749.223]",1785,9.78,3.14,0.035932,743.877665
9,"(749.223, 888.511]",1812,9.93,1.43,0.017792,766.621278

In [ ]:
## !pip install statsmodels

In [49]:
from sklearn.metrics import brier_score_loss

y_true=df_model['Default_Flag']
y_pred_prob=df_model['pred_prob']
brier_score=brier_score_loss(y_true,y_pred_prob)
print("Brier Score:",round(brier_score,4))

Brier Score: 0.1136